## Production Systems Analysis Project
Owners: Almog Asraf, Daniel Pidtylok, Nir Levanon, Shani Yorav

### Imports

In [1]:
import numpy as np
import pandas as pd

### Parameters

In [2]:
J = 50 # Numbers of the orders

In [3]:
lamb = [7.5, 5.2, 20] # Lambdas for the poission destribution
m = {1:[],2:[],3:[]}
for i in m.keys():
    for j in range(J):
        m[i].append(np.random.poisson(lamb[i-1]))
m_df = pd.DataFrame(m)
m_df

     1   2   3
0    5   5  19
1    6   7  25
2    8   7  17
3    6   5  17
4    7   7  17
5   13   3  20
6    6   8  21
7    8   7  22
8    6   7  17
9    9   4  23
10   5   6  17
11   8   2  18
12   7   4  28
13  11   4  20
14   4   4  24
15  11   5  24
16   6   7  27
17   7   8  25
18   8   7  15
19   8   3  16
20   5   5  19
21   7   9  18
22   7   4  22
23   4   5  22
24  11   6  14
25   7   4  19
26   4   6  19
27  10   5  20
28   6   5  15
29   8   8  20
30   7   3  20
31   3  11  17
32   7   4  25
33   7   0  16
34  11   5  30
35   8   4  25
36   6   6  27
37   6   5  24
38   5   6  19
39   9   3  28
40  11   2  25
41   9   6  19
42   9   9  24
43   5   6  17
44  10   6  22
45   4   7  21
46   9   6  24
47   8   6  22
48   5   5  12
49   6   6  21

In [4]:
v = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's velocity
for i in v.keys():
    for j in range(J):
        if i == "veg":
            v[i].append((25/(25+25*m[1][j]))**1.2)
        elif i == "fru":
            v[i].append((25/(25+30*m[2][j]))**1.1)
        else:
            v[i].append(25/(25+10*m[3][j]))
v_df = pd.DataFrame(v)
v_df

         veg       fru       oth
0   0.116471  0.117596  0.116279
1   0.096802  0.085027  0.090909
2   0.071599  0.085027  0.128205
3   0.096802  0.117596  0.128205
4   0.082469  0.085027  0.128205
5   0.042135  0.186624  0.111111
6   0.096802  0.074501  0.106383
7   0.071599  0.085027  0.102041
8   0.096802  0.085027  0.128205
9   0.063096  0.144620  0.098039
10  0.116471  0.098811  0.128205
11  0.071599  0.260239  0.121951
12  0.082469  0.144620  0.081967
13  0.050697  0.144620  0.111111
14  0.144956  0.144620  0.094340
15  0.050697  0.117596  0.094340
16  0.096802  0.085027  0.084746
17  0.082469  0.074501  0.090909
18  0.071599  0.085027  0.142857
19  0.071599  0.186624  0.135135
20  0.116471  0.117596  0.116279
21  0.082469  0.066211  0.121951
22  0.082469  0.144620  0.102041
23  0.144956  0.117596  0.102041
24  0.050697  0.098811  0.151515
25  0.082469  0.144620  0.116279
26  0.144956  0.098811  0.116279
27  0.056277  0.117596  0.111111
28  0.096802  0.117596  0.142857
29  0.071599  0.074501  0.111111
30  0.082469  0.186624  0.111111
31  0.189465  0.054011  0.128205
32  0.082469  0.144620  0.090909
33  0.082469  1.000000  0.135135
34  0.050697  0.117596  0.076923
35  0.071599  0.144620  0.090909
36  0.096802  0.098811  0.084746
37  0.096802  0.117596  0.094340
38  0.116471  0.098811  0.116279
39  0.063096  0.186624  0.081967
40  0.050697  0.260239  0.090909
41  0.063096  0.098811  0.116279
42  0.063096  0.066211  0.094340
43  0.116471  0.098811  0.128205
44  0.056277  0.098811  0.102041
45  0.144956  0.085027  0.106383
46  0.063096  0.098811  0.094340
47  0.071599  0.098811  0.102041
48  0.116471  0.117596  0.172414
49  0.096802  0.098811  0.106383

In [5]:
len_shelf = 25
len_pass = len_shelf*2

In [6]:
t = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's times
for i in t.keys():
    for j in range(J):
        if i == "veg" or i == "fru":
            t[i].append(len_shelf/v_df[i][j])
        else:
            t[i].append(len_pass/v_df[i][j])
t_df = pd.DataFrame(t)
t_df['Sum'] = t_df.sum(axis=1)
t_df

           veg         fru    oth          Sum
0   214.645362  212.592458  430.0   857.237820
1   258.260303  294.022555  550.0  1102.282859
2   349.165254  294.022555  390.0  1033.187809
3   258.260303  212.592458  390.0   860.852761
4   303.143313  294.022555  390.0   987.165869
5   593.326371  133.959533  450.0  1177.285904
6   258.260303  335.564848  470.0  1063.825152
7   349.165254  294.022555  490.0  1133.187809
8   258.260303  294.022555  390.0   942.282859
9   396.223298  172.866485  510.0  1079.089783
10  214.645362  253.008578  390.0   857.653940
11  349.165254   96.065361  410.0   855.230615
12  303.143313  172.866485  610.0  1086.009798
13  493.125549  172.866485  450.0  1115.992034
14  172.466208  172.866485  530.0   875.332693
15  493.125549  212.592458  530.0  1235.718007
16  258.260303  294.022555  590.0  1142.282859
17  303.143313  335.564848  550.0  1188.708162
18  349.165254  294.022555  350.0   993.187809
19  349.165254  133.959533  370.0   853.124787
20  214.645362  212.592458  430.0   857.237820
21  303.143313  377.581073  410.0  1090.724387
22  303.143313  172.866485  490.0   966.009798
23  172.466208  212.592458  490.0   875.058665
24  493.125549  253.008578  330.0  1076.134127
25  303.143313  172.866485  430.0   906.009798
26  172.466208  253.008578  430.0   855.474786
27  444.233423  212.592458  450.0  1106.825881
28  258.260303  212.592458  350.0   820.852761
29  349.165254  335.564848  450.0  1134.730102
30  303.143313  133.959533  450.0   887.102846
31  131.950791  462.868032  390.0   984.818823
32  303.143313  172.866485  550.0  1026.009798
33  303.143313   25.000000  370.0   698.143313
34  493.125549  212.592458  650.0  1355.718007
35  349.165254  172.866485  550.0  1072.031739
36  258.260303  253.008578  590.0  1101.268882
37  258.260303  212.592458  530.0  1000.852761
38  214.645362  253.008578  430.0   897.653940
39  396.223298  133.959533  610.0  1140.182831
40  493.125549   96.065361  550.0  1139.190909
41  396.223298  253.008578  430.0  1079.231876
42  396.223298  377.581073  530.0  1303.804371
43  214.645362  253.008578  390.0   857.653940
44  444.233423  253.008578  490.0  1187.242002
45  172.466208  294.022555  470.0   936.488763
46  396.223298  253.008578  530.0  1179.231876
47  349.165254  253.008578  490.0  1092.173832
48  214.645362  212.592458  290.0   717.237820
49  258.260303  253.008578  470.0   981.268882

### Question no. 1

In [7]:
def internal_arrangement(t_df):
    c = [0 for i in range(J)]
    schedule = [0 for i in range(J)]
    t_now = 0
    t_prev = 0
    for j in range(J):
        if m_df[1][j] > 0 or m_df[2][j] > 0:
            schedule[j] += t_now
            t_prev = t_now
            if m_df[1][j] > 0:
                t_now += t_df["veg"][j]
            if m_df[2][j] > 0:
                t_now += t_df["fru"][j]
            if m_df[3][j] > 0:
                t_now += len_pass + t_df["oth"][j]
            t_df["Sum"][j] = t_now - t_prev
            c[j] = t_now
        else:
            t_now += t_df["oth"][j]
            c[j] = t_now
    return c, schedule
c,schedule = internal_arrangement(t_df)
max(c)

53241.00466655522

In [8]:
max(c)/(60*60)

14.789167962932005

In [9]:
schedule

[0,
 907.2378198726251,
 2059.520678442357,
 3142.7084878639985,
 4053.561248849882,
 5090.727117442646,
 6318.013021103808,
 7431.838172629002,
 8615.025982050644,
 9607.308840620375,
 10736.398623847359,
 11644.052564335565,
 12549.283179092217,
 13685.292977506004,
 14851.285011472877,
 15776.617704267235,
 17062.33571082924,
 18254.618569398972,
 19493.3267309472,
 20536.51454036884,
 21439.639327085606,
 22346.87714695823,
 23487.601533616085,
 24503.611332029872,
 25428.66999741936,
 26554.804124596947,
 27510.813923010734,
 28416.288709015804,
 29573.11458992824,
 30443.96735091412,
 31628.697453291225,
 32565.800299179115,
 33600.6191225137,
 34676.628920927484,
 35399.77223422956,
 36805.490240791565,
 37927.52198003423,
 39078.7908616357,
 40129.64362262159,
 41077.297563109794,
 42267.48039381088,
 43456.67130329175,
 44585.903179729445,
 45939.707551200496,
 46847.3614916887,
 48084.603493216724,
 49071.09225619006,
 50300.32413262776,
 51442.49796508113,
 52209.73578495375]

In [10]:
t_df

           veg         fru    oth          Sum
0   214.645362  212.592458  430.0   907.237820
1   258.260303  294.022555  550.0  1152.282859
2   349.165254  294.022555  390.0  1083.187809
3   258.260303  212.592458  390.0   910.852761
4   303.143313  294.022555  390.0  1037.165869
5   593.326371  133.959533  450.0  1227.285904
6   258.260303  335.564848  470.0  1113.825152
7   349.165254  294.022555  490.0  1183.187809
8   258.260303  294.022555  390.0   992.282859
9   396.223298  172.866485  510.0  1129.089783
10  214.645362  253.008578  390.0   907.653940
11  349.165254   96.065361  410.0   905.230615
12  303.143313  172.866485  610.0  1136.009798
13  493.125549  172.866485  450.0  1165.992034
14  172.466208  172.866485  530.0   925.332693
15  493.125549  212.592458  530.0  1285.718007
16  258.260303  294.022555  590.0  1192.282859
17  303.143313  335.564848  550.0  1238.708162
18  349.165254  294.022555  350.0  1043.187809
19  349.165254  133.959533  370.0   903.124787
20  214.645362  212.592458  430.0   907.237820
21  303.143313  377.581073  410.0  1140.724387
22  303.143313  172.866485  490.0  1016.009798
23  172.466208  212.592458  490.0   925.058665
24  493.125549  253.008578  330.0  1126.134127
25  303.143313  172.866485  430.0   956.009798
26  172.466208  253.008578  430.0   905.474786
27  444.233423  212.592458  450.0  1156.825881
28  258.260303  212.592458  350.0   870.852761
29  349.165254  335.564848  450.0  1184.730102
30  303.143313  133.959533  450.0   937.102846
31  131.950791  462.868032  390.0  1034.818823
32  303.143313  172.866485  550.0  1076.009798
33  303.143313   25.000000  370.0   723.143313
34  493.125549  212.592458  650.0  1405.718007
35  349.165254  172.866485  550.0  1122.031739
36  258.260303  253.008578  590.0  1151.268882
37  258.260303  212.592458  530.0  1050.852761
38  214.645362  253.008578  430.0   947.653940
39  396.223298  133.959533  610.0  1190.182831
40  493.125549   96.065361  550.0  1189.190909
41  396.223298  253.008578  430.0  1129.231876
42  396.223298  377.581073  530.0  1353.804371
43  214.645362  253.008578  390.0   907.653940
44  444.233423  253.008578  490.0  1237.242002
45  172.466208  294.022555  470.0   986.488763
46  396.223298  253.008578  530.0  1229.231876
47  349.165254  253.008578  490.0  1142.173832
48  214.645362  212.592458  290.0   767.237820
49  258.260303  253.008578  470.0  1031.268882

### Question no. 2

In [11]:
w = [0 for i in range(J)]

In [ ]:
def spt_algo():
    t_now = 0
    t_prev = t_now
    t_copy = t_df["Sum"].copy()
    schedule = [0 for i in range(J)]
    c = [0 for i in range(J)]
    for i in range(len(schedule)):
        t_prev = t_now
        index = t_copy.idxmin()
        schedule[index] += t_now
        t_now += t_copy[index]
        c[i] += t_now
        w[i] += t_now-t_prev
        t_copy[index] = None
    return schedule, c, w
sche_spt,c_spt, w = spt_algo()
sche_spt

Note: We will use sche_spt in question 3.

In [13]:
w

[723.1433133020764,
 767.2378198726219,
 870.8527609858829,
 903.1247867167658,
 905.2306147566524,
 905.4747860050702,
 907.2378198726256,
 907.2378198726256,
 907.653940488206,
 907.653940488206,
 910.8527609858829,
 925.0586653894898,
 925.3326927943581,
 937.10284588789,
 947.653940488206,
 956.0097984137865,
 986.4887629733348,
 992.2828585697316,
 1016.0097984137883,
 1031.2688816014706,
 1034.8188233345863,
 1037.165868592765,
 1043.1878094216408,
 1050.8527609858866,
 1076.0097984137828,
 1083.1878094216408,
 1113.825151525194,
 1122.031739242666,
 1126.1341271775855,
 1129.0897832269839,
 1129.2318764376978,
 1136.0097984137865,
 1140.7243866578538,
 1142.1738324533762,
 1151.2688816014706,
 1152.2828585697353,
 1156.8258809124309,
 1165.9920339668752,
 1183.1878094216445,
 1184.730102377107,
 1189.1909094808652,
 1190.1828307010874,
 1192.282858569728,
 1227.2859036611626,
 1229.2318764376978,
 1237.2420015280222,
 1238.7081615482311,
 1285.718006562005,
 1353.8043714710511,
 1405.718006562005]

The proof that c isn't dependent on the scheduling of the order:

In [14]:
max(c_spt)

53241.004666555236

The average waiting time for order:

In [15]:
sum(w)/J

1064.8200933311048

### Question no. 3

First, we will calculate v and t for the new collector:

In [16]:
v2_df = v_df.copy()
v2_df = v2_df*1.15
v2_df

         veg       fru       oth
0   0.133942  0.135235  0.133721
1   0.111322  0.097782  0.104545
2   0.082339  0.097782  0.147436
3   0.111322  0.135235  0.147436
4   0.094840  0.097782  0.147436
5   0.048456  0.214617  0.127778
6   0.111322  0.085676  0.122340
7   0.082339  0.097782  0.117347
8   0.111322  0.097782  0.147436
9   0.072560  0.166313  0.112745
10  0.133942  0.113633  0.147436
11  0.082339  0.299275  0.140244
12  0.094840  0.166313  0.094262
13  0.058302  0.166313  0.127778
14  0.166699  0.166313  0.108491
15  0.058302  0.135235  0.108491
16  0.111322  0.097782  0.097458
17  0.094840  0.085676  0.104545
18  0.082339  0.097782  0.164286
19  0.082339  0.214617  0.155405
20  0.133942  0.135235  0.133721
21  0.094840  0.076143  0.140244
22  0.094840  0.166313  0.117347
23  0.166699  0.135235  0.117347
24  0.058302  0.113633  0.174242
25  0.094840  0.166313  0.133721
26  0.166699  0.113633  0.133721
27  0.064718  0.135235  0.127778
28  0.111322  0.135235  0.164286
29  0.082339  0.085676  0.127778
30  0.094840  0.214617  0.127778
31  0.217884  0.062113  0.147436
32  0.094840  0.166313  0.104545
33  0.094840  1.150000  0.155405
34  0.058302  0.135235  0.088462
35  0.082339  0.166313  0.104545
36  0.111322  0.113633  0.097458
37  0.111322  0.135235  0.108491
38  0.133942  0.113633  0.133721
39  0.072560  0.214617  0.094262
40  0.058302  0.299275  0.104545
41  0.072560  0.113633  0.133721
42  0.072560  0.076143  0.108491
43  0.133942  0.113633  0.147436
44  0.064718  0.113633  0.117347
45  0.166699  0.097782  0.122340
46  0.072560  0.113633  0.108491
47  0.082339  0.113633  0.117347
48  0.133942  0.135235  0.198276
49  0.111322  0.113633  0.122340

In [17]:
t2 = {"veg":[],"fru":[], "oth":[]}
for i in t2.keys():
    for j in range(J):
        if i == "veg" or i == "fru":
            t2[i].append(len_shelf/v2_df[i][j])
        else:
            t2[i].append(len_pass/v2_df[i][j])
t2_df = pd.DataFrame(t2)
t2_df['Sum'] = t2_df.sum(axis=1)
t2_df

           veg         fru         oth          Sum
0   186.648141  184.863007  373.913043   745.424191
1   224.574177  255.671787  478.260870   958.506834
2   303.621960  255.671787  339.130435   898.424182
3   224.574177  184.863007  339.130435   748.567618
4   263.602881  255.671787  339.130435   858.405103
5   515.935975  116.486550  391.304348  1023.726873
6   224.574177  291.795520  408.695652   925.065349
7   303.621960  255.671787  426.086957   985.380704
8   224.574177  255.671787  339.130435   819.376399
9   344.541998  150.318683  443.478261   938.338942
10  186.648141  220.007459  339.130435   745.786035
11  303.621960   83.535096  356.521739   743.678795
12  263.602881  150.318683  530.434783   944.356346
13  428.804825  150.318683  391.304348   970.427856
14  149.970615  150.318683  460.869565   761.158863
15  428.804825  184.863007  460.869565  1074.537397
16  224.574177  255.671787  513.043478   993.289442
17  263.602881  291.795520  478.260870  1033.659271
18  303.621960  255.671787  304.347826   863.641573
19  303.621960  116.486550  321.739130   741.847641
20  186.648141  184.863007  373.913043   745.424191
21  263.602881  328.331368  356.521739   948.455988
22  263.602881  150.318683  426.086957   840.008520
23  149.970615  184.863007  426.086957   760.920579
24  428.804825  220.007459  286.956522   935.768806
25  263.602881  150.318683  373.913043   787.834607
26  149.970615  220.007459  373.913043   743.891118
27  386.289933  184.863007  391.304348   962.457288
28  224.574177  184.863007  304.347826   713.785010
29  303.621960  291.795520  391.304348   986.721828
30  263.602881  116.486550  391.304348   771.393779
31  114.739818  402.493941  339.130435   856.364194
32  263.602881  150.318683  478.260870   892.182433
33  263.602881   21.739130  321.739130   607.081142
34  428.804825  184.863007  565.217391  1178.885223
35  303.621960  150.318683  478.260870   932.201512
36  224.574177  220.007459  513.043478   957.625114
37  224.574177  184.863007  460.869565   870.306749
38  186.648141  220.007459  373.913043   780.568644
39  344.541998  116.486550  530.434783   991.463331
40  428.804825   83.535096  478.260870   990.600791
41  344.541998  220.007459  373.913043   938.462501
42  344.541998  328.331368  460.869565  1133.742932
43  186.648141  220.007459  339.130435   745.786035
44  386.289933  220.007459  426.086957  1032.384349
45  149.970615  255.671787  408.695652   814.338055
46  344.541998  220.007459  460.869565  1025.419023
47  303.621960  220.007459  426.086957   949.716376
48  186.648141  184.863007  252.173913   623.685061
49  224.574177  220.007459  408.695652   853.277288

In [18]:
internal_arrangement(t2_df)
spt_algo(t2_df)
t2_df

           veg         fru         oth          Sum
0   186.648141  184.863007  373.913043   795.424191
1   224.574177  255.671787  478.260870  1008.506834
2   303.621960  255.671787  339.130435   948.424182
3   224.574177  184.863007  339.130435   798.567618
4   263.602881  255.671787  339.130435   908.405103
5   515.935975  116.486550  391.304348  1073.726873
6   224.574177  291.795520  408.695652   975.065349
7   303.621960  255.671787  426.086957  1035.380704
8   224.574177  255.671787  339.130435   869.376399
9   344.541998  150.318683  443.478261   988.338942
10  186.648141  220.007459  339.130435   795.786035
11  303.621960   83.535096  356.521739   793.678795
12  263.602881  150.318683  530.434783   994.356346
13  428.804825  150.318683  391.304348  1020.427856
14  149.970615  150.318683  460.869565   811.158863
15  428.804825  184.863007  460.869565  1124.537397
16  224.574177  255.671787  513.043478  1043.289442
17  263.602881  291.795520  478.260870  1083.659271
18  303.621960  255.671787  304.347826   913.641573
19  303.621960  116.486550  321.739130   791.847641
20  186.648141  184.863007  373.913043   795.424191
21  263.602881  328.331368  356.521739   998.455988
22  263.602881  150.318683  426.086957   890.008520
23  149.970615  184.863007  426.086957   810.920579
24  428.804825  220.007459  286.956522   985.768806
25  263.602881  150.318683  373.913043   837.834607
26  149.970615  220.007459  373.913043   793.891118
27  386.289933  184.863007  391.304348  1012.457288
28  224.574177  184.863007  304.347826   763.785010
29  303.621960  291.795520  391.304348  1036.721828
30  263.602881  116.486550  391.304348   821.393779
31  114.739818  402.493941  339.130435   906.364194
32  263.602881  150.318683  478.260870   942.182433
33  263.602881   21.739130  321.739130   635.342012
34  428.804825  184.863007  565.217391  1228.885223
35  303.621960  150.318683  478.260870   982.201512
36  224.574177  220.007459  513.043478  1007.625114
37  224.574177  184.863007  460.869565   920.306749
38  186.648141  220.007459  373.913043   830.568644
39  344.541998  116.486550  530.434783  1041.463331
40  428.804825   83.535096  478.260870  1040.600791
41  344.541998  220.007459  373.913043   988.462501
42  344.541998  328.331368  460.869565  1183.742932
43  186.648141  220.007459  339.130435   795.786035
44  386.289933  220.007459  426.086957  1082.384349
45  149.970615  255.671787  408.695652   864.338055
46  344.541998  220.007459  460.869565  1075.419023
47  303.621960  220.007459  426.086957   999.716376
48  186.648141  184.863007  252.173913   673.685061
49  224.574177  220.007459  408.695652   903.277288

In [19]:
K = [i for i in range(J)]

### Question no. 4

In [20]:
pass

### Question no. 5

In [21]:
pass

### Question no. 6

In [22]:
pass