## Production Systems Analysis Project
Owners: Almog Asraf, Daniel Pidtylok, Nir Levanon, Shani Yorav

### Imports

In [1]:
import numpy as np
import pandas as pd

### Parameters

In [2]:
J = 50 # Numbers of the orders

Creating the amount of vegtables, fruits and others from poission destribution:

In [3]:
lamb = [7.5, 5.2, 20] # Lambdas for the poission destribution
m = {1:[],2:[],3:[]} # 1: veggies, 2: fruits, 3: other
for i in m.keys(): # For each type of order
    for j in range(J): # For each order
        m[i].append(np.random.poisson(lamb[i-1]))
m_df = pd.DataFrame(m) # More easy to work with pandas df
m_df

     1   2   3
0    5   6  21
1    4   4  19
2    8   5  11
3    7   4   9
4    9   6  23
5    8   8  21
6    5   6  22
7    8   5  23
8    8   4  17
9    7   3  19
10  15   8  18
11   6   7   8
12  10   9  25
13   6   3  24
14   8   3  21
15   8   1  17
16  10   4  21
17   7   4  24
18  10  10   8
19  11  10  17
20  10   7  15
21   9   4  27
22   9  10  24
23   5  10  18
24   7   6  17
25   8   4  18
26   4   5  23
27   8   7  20
28   7   5  14
29  10   5  17
30   9  11  16
31   6   6  15
32   4   2  16
33  13   8  14
34  12   6  16
35  16   4  18
36   8   4  19
37   6   4  18
38   7   4  18
39   9   2  23
40   5   4  19
41   8   4  25
42   6   4  19
43   9   5  16
44   3   3  21
45   7   3  25
46   9   5  19
47  11   6  17
48   8   1  23
49   9   6  24

Creating the velocity matrix for each order:

In [4]:
v = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's velocity
for i in v.keys(): # For each type of order
    for j in range(J): # For each order
        if i == "veg":
            v[i].append((25/(25+25*m[1][j]))**1.2)
        elif i == "fru":
            v[i].append((25/(25+30*m[2][j]))**1.1)
        else:
            v[i].append(25/(25+10*m[3][j]))
v_df = pd.DataFrame(v) # More easy to work with pandas
v_df

         veg       fru       oth
0   0.116471  0.098811  0.106383
1   0.144956  0.144620  0.116279
2   0.071599  0.117596  0.185185
3   0.082469  0.144620  0.217391
4   0.063096  0.098811  0.098039
5   0.071599  0.074501  0.106383
6   0.116471  0.098811  0.102041
7   0.071599  0.117596  0.098039
8   0.071599  0.144620  0.128205
9   0.082469  0.186624  0.116279
10  0.035897  0.074501  0.121951
11  0.096802  0.085027  0.238095
12  0.056277  0.066211  0.090909
13  0.096802  0.186624  0.094340
14  0.071599  0.186624  0.106383
15  0.071599  0.420083  0.128205
16  0.056277  0.144620  0.106383
17  0.082469  0.144620  0.094340
18  0.056277  0.059520  0.238095
19  0.050697  0.059520  0.128205
20  0.056277  0.085027  0.142857
21  0.063096  0.144620  0.084746
22  0.063096  0.059520  0.094340
23  0.116471  0.059520  0.121951
24  0.082469  0.098811  0.128205
25  0.071599  0.144620  0.121951
26  0.144956  0.117596  0.098039
27  0.071599  0.085027  0.111111
28  0.082469  0.117596  0.151515
29  0.056277  0.117596  0.128205
30  0.063096  0.054011  0.135135
31  0.096802  0.098811  0.142857
32  0.144956  0.260239  0.135135
33  0.042135  0.074501  0.151515
34  0.046054  0.098811  0.135135
35  0.033378  0.144620  0.121951
36  0.071599  0.144620  0.116279
37  0.096802  0.144620  0.121951
38  0.082469  0.144620  0.121951
39  0.063096  0.260239  0.098039
40  0.116471  0.144620  0.116279
41  0.071599  0.144620  0.090909
42  0.096802  0.144620  0.116279
43  0.063096  0.117596  0.135135
44  0.189465  0.186624  0.106383
45  0.082469  0.186624  0.090909
46  0.063096  0.117596  0.116279
47  0.050697  0.098811  0.128205
48  0.071599  0.420083  0.098039
49  0.063096  0.098811  0.094340

Definig the length of each shelf:

In [5]:
len_shelf = 25
len_pass = len_shelf*2

Definig the time metrix that takes to do each type of order, by using velpcity matrix:

In [6]:
t = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's times
for i in t.keys(): # For each type of order
    for j in range(J): # For each order
        if i == "veg" or i == "fru": # Because veggies and fruits are in the same passage
            t[i].append(len_shelf/v_df[i][j])
        else: # Because others are in different passege
            t[i].append(len_pass/v_df[i][j])
t_df = pd.DataFrame(t)
t_df['Sum'] = t_df.sum(axis=1) # We will use it later and we will fix it to the real amount of time that will take to do the order
t_df

           veg         fru    oth          Sum
0   214.645362  253.008578  470.0   937.653940
1   172.466208  172.866485  430.0   775.332693
2   349.165254  212.592458  270.0   831.757712
3   303.143313  172.866485  230.0   706.009798
4   396.223298  253.008578  510.0  1159.231876
5   349.165254  335.564848  470.0  1154.730102
6   214.645362  253.008578  490.0   957.653940
7   349.165254  212.592458  510.0  1071.757712
8   349.165254  172.866485  390.0   912.031739
9   303.143313  133.959533  430.0   867.102846
10  696.440451  335.564848  410.0  1442.005299
11  258.260303  294.022555  210.0   762.282859
12  444.233423  377.581073  550.0  1371.814497
13  258.260303  133.959533  530.0   922.219836
14  349.165254  133.959533  470.0   953.124787
15  349.165254   59.512056  390.0   798.677311
16  444.233423  172.866485  470.0  1087.099908
17  303.143313  172.866485  530.0  1006.009798
18  444.233423  420.027472  210.0  1074.260895
19  493.125549  420.027472  390.0  1303.153021
20  444.233423  294.022555  350.0  1088.255978
21  396.223298  172.866485  590.0  1159.089783
22  396.223298  420.027472  530.0  1346.250770
23  214.645362  420.027472  410.0  1044.672834
24  303.143313  253.008578  390.0   946.151892
25  349.165254  172.866485  410.0   932.031739
26  172.466208  212.592458  510.0   895.058665
27  349.165254  294.022555  450.0  1093.187809
28  303.143313  212.592458  330.0   845.735771
29  444.233423  212.592458  390.0  1046.825881
30  396.223298  462.868032  370.0  1229.091330
31  258.260303  253.008578  350.0   861.268882
32  172.466208   96.065361  370.0   638.531568
33  593.326371  335.564848  330.0  1258.891219
34  542.840237  253.008578  370.0  1165.848815
35  748.994648  172.866485  410.0  1331.861133
36  349.165254  172.866485  430.0   952.031739
37  258.260303  172.866485  410.0   841.126788
38  303.143313  172.866485  410.0   886.009798
39  396.223298   96.065361  510.0  1002.288659
40  214.645362  172.866485  430.0   817.511847
41  349.165254  172.866485  550.0  1072.031739
42  258.260303  172.866485  430.0   861.126788
43  396.223298  212.592458  370.0   978.815756
44  131.950791  133.959533  470.0   735.910324
45  303.143313  133.959533  550.0   987.102846
46  396.223298  212.592458  430.0  1038.815756
47  493.125549  253.008578  390.0  1136.134127
48  349.165254   59.512056  510.0   918.677311
49  396.223298  253.008578  530.0  1179.231876

### Question no. 1

For more info, look at the docs:

In [7]:
def internal_arrangement(t_df): # This function recives a time matrix, and we will use it for q2
    c = [0 for i in range(J)] # Definig end time matrix
    schedule = [0 for i in range(J)] # Defining the schedule for each order
    # Defining clock of the simulation
    t_now = 0 
    t_prev = 0
    for j in range(J): # For each order
        if m_df[1][j] > 0 or m_df[2][j] > 0: # If there are fruits or veggies to collect
            schedule[j] += t_now # Schedule the order for now
            t_prev = t_now 
            if m_df[1][j] > 0: # If there are veggies, collect them
                t_now += t_df["veg"][j]
            if m_df[2][j] > 0: # if ther are fruits, collect them
                t_now += t_df["fru"][j]
            if m_df[3][j] > 0: # If there are others, return back and collect them
                t_now += len_pass + t_df["oth"][j]
            t_df["Sum"][j] = t_now - t_prev # Fixing the sum collumn
            c[j] = t_now # Defining the end time of the order after all the collections
        else: # There are only others to collect
            t_now += t_df["oth"][j]
            c[j] = t_now # Defining the end time of the order after all the collections
    return c, schedule
c,schedule = internal_arrangement(t_df)
max(c) # The answer to the question

52883.47999533926

Translating seconds to hours:

In [8]:
max(c)/(60*60)

14.689855554260905

The schedule of the orders:

In [9]:
schedule

[0,
 987.6539404882061,
 1812.9866332825634,
 2694.744345120356,
 3450.754143534141,
 4659.986019971837,
 5864.71612234894,
 6872.370062837146,
 7994.127774674939,
 8956.159513917602,
 9873.26235980549,
 11365.267658688537,
 12177.550517258269,
 13599.365013819643,
 14571.584849684497,
 15574.709636401261,
 16423.386946972227,
 17560.48685528953,
 18616.496653703318,
 19740.75754866269,
 21093.910569271626,
 22232.16654776791,
 23441.256330994893,
 24837.507100863942,
 25932.179934783504,
 26928.331826408,
 27910.363565650663,
 28855.422231040153,
 29998.610040461794,
 30894.34581147071,
 31991.171692383145,
 33270.263022755724,
 34181.531904357194,
 34870.06347266554,
 36178.95469198704,
 37394.80350731828,
 38776.664640258714,
 39778.69637950137,
 40669.82316789213,
 41605.83296630591,
 42658.121625046886,
 43525.63347232438,
 44647.665211567044,
 45558.7919999578,
 46587.607755779914,
 47373.51807944301,
 48410.6209253309,
 49499.43668115301,
 50685.5708083306,
 51654.24811890156]

The fixed time matrix:

In [10]:
t_df

           veg         fru    oth          Sum
0   214.645362  253.008578  470.0   987.653940
1   172.466208  172.866485  430.0   825.332693
2   349.165254  212.592458  270.0   881.757712
3   303.143313  172.866485  230.0   756.009798
4   396.223298  253.008578  510.0  1209.231876
5   349.165254  335.564848  470.0  1204.730102
6   214.645362  253.008578  490.0  1007.653940
7   349.165254  212.592458  510.0  1121.757712
8   349.165254  172.866485  390.0   962.031739
9   303.143313  133.959533  430.0   917.102846
10  696.440451  335.564848  410.0  1492.005299
11  258.260303  294.022555  210.0   812.282859
12  444.233423  377.581073  550.0  1421.814497
13  258.260303  133.959533  530.0   972.219836
14  349.165254  133.959533  470.0  1003.124787
15  349.165254   59.512056  390.0   848.677311
16  444.233423  172.866485  470.0  1137.099908
17  303.143313  172.866485  530.0  1056.009798
18  444.233423  420.027472  210.0  1124.260895
19  493.125549  420.027472  390.0  1353.153021
20  444.233423  294.022555  350.0  1138.255978
21  396.223298  172.866485  590.0  1209.089783
22  396.223298  420.027472  530.0  1396.250770
23  214.645362  420.027472  410.0  1094.672834
24  303.143313  253.008578  390.0   996.151892
25  349.165254  172.866485  410.0   982.031739
26  172.466208  212.592458  510.0   945.058665
27  349.165254  294.022555  450.0  1143.187809
28  303.143313  212.592458  330.0   895.735771
29  444.233423  212.592458  390.0  1096.825881
30  396.223298  462.868032  370.0  1279.091330
31  258.260303  253.008578  350.0   911.268882
32  172.466208   96.065361  370.0   688.531568
33  593.326371  335.564848  330.0  1308.891219
34  542.840237  253.008578  370.0  1215.848815
35  748.994648  172.866485  410.0  1381.861133
36  349.165254  172.866485  430.0  1002.031739
37  258.260303  172.866485  410.0   891.126788
38  303.143313  172.866485  410.0   936.009798
39  396.223298   96.065361  510.0  1052.288659
40  214.645362  172.866485  430.0   867.511847
41  349.165254  172.866485  550.0  1122.031739
42  258.260303  172.866485  430.0   911.126788
43  396.223298  212.592458  370.0  1028.815756
44  131.950791  133.959533  470.0   785.910324
45  303.143313  133.959533  550.0  1037.102846
46  396.223298  212.592458  430.0  1088.815756
47  493.125549  253.008578  390.0  1186.134127
48  349.165254   59.512056  510.0   968.677311
49  396.223298  253.008578  530.0  1229.231876

### Question no. 2

For more info, look at the docs:

Definig the waiting time of all the orders:

In [11]:
w = [0 for i in range(J)]

Defining the spt algoritem function, we will use it also at question no. 2:

In [12]:
def spt_algo(t_df):
    t_now = 0
    #t_prev = t_now
    t_copy = t_df["Sum"].copy() # Creating a copy of the fixed sum column, because we don't want to lose this info
    schedule = [0 for i in range(J)] # Defining the schedule for each order
    c = [0 for i in range(J)] # Definig end time matrix, only for proving a point
    for i in range(J): # For each order
        #t_prev = t_now
        index = t_copy.idxmin() # Pull the id of the minimal processing time
        schedule[index] += t_now # Scheduling the shortest order for current time
        t_now += t_copy[index] # Moving the sim clock to the end of the order
        c[i] = t_now # Definig the end time of the order
        w[i] = c[i] - t_df["Sum"][index] # Calculating the waiting time: end time - processing time
        print("c[i]: ",c[i])
        print("t_df['Sum'][index]: ", t_df["Sum"][index])
        t_copy[index] = None # "Deleting" the minimal processing time, so we can find the next minimal time
    return schedule, c, w
sche_spt,c_spt, w = spt_algo(t_df)
sche_spt

c[i]:  688.5315683083463
t_df['Sum'][index]:  688.5315683083463
c[i]:  1444.5413667221314
t_df['Sum'][index]:  756.0097984137851
c[i]:  2230.4516903852295
t_df['Sum'][index]:  785.9103236630981
c[i]:  3042.734548954961
t_df['Sum'][index]:  812.2828585697316
c[i]:  3868.0672417493183
t_df['Sum'][index]:  825.3326927943573
c[i]:  4716.744552320284
t_df['Sum'][index]:  848.6773105709653
c[i]:  5584.256399597776
t_df['Sum'][index]:  867.511847277492
c[i]:  6466.014111435568
t_df['Sum'][index]:  881.7577118377924
c[i]:  7357.140899826325
t_df['Sum'][index]:  891.1267883907567
c[i]:  8252.876670835241
t_df['Sum'][index]:  895.7357710089163
c[i]:  9164.003459225998
t_df['Sum'][index]:  911.1267883907567
c[i]:  10075.272340827469
t_df['Sum'][index]:  911.2688816014706
c[i]:  10992.375186715357
t_df['Sum'][index]:  917.1028458878882
c[i]:  11928.38498512914
t_df['Sum'][index]:  936.0097984137828
c[i]:  12873.44365051863
t_df['Sum'][index]:  945.0586653894898
c[i]:  13835.475389761294
t_df['Sum'][index]:  962.0317392426632
c[i]:  14804.152700332252
t_df['Sum'][index]:  968.6773105709581
c[i]:  15776.372536197106
t_df['Sum'][index]:  972.2198358648548
c[i]:  16758.404275439767
t_df['Sum'][index]:  982.0317392426623
c[i]:  17746.058215927973
t_df['Sum'][index]:  987.6539404882061
c[i]:  18742.21010755247
t_df['Sum'][index]:  996.1518916244968
c[i]:  19744.24184679513
t_df['Sum'][index]:  1002.0317392426587
c[i]:  20747.36663351189
t_df['Sum'][index]:  1003.124786716764
c[i]:  21755.020574000097
t_df['Sum'][index]:  1007.653940488206
c[i]:  22783.83632982221
t_df['Sum'][index]:  1028.8157558221137
c[i]:  23820.939175710097
t_df['Sum'][index]:  1037.1028458878864
c[i]:  24873.22783445107
t_df['Sum'][index]:  1052.288658740974
c[i]:  25929.237632864857
t_df['Sum'][index]:  1056.0097984137865
c[i]:  27018.05338868697
t_df['Sum'][index]:  1088.8157558221137
c[i]:  28112.726222606532
t_df['Sum'][index]:  1094.6728339195615
c[i]:  29209.552103518967
t_df['Sum'][index]:  1096.8258809124345
c[i]:  30331.30981535676
t_df['Sum'][index]:  1121.757711837793
c[i]:  31453.341554599425
t_df['Sum'][index]:  1122.031739242666
c[i]:  32577.602449558795
t_df['Sum'][index]:  1124.2608949593705
c[i]:  33714.7023578761
t_df['Sum'][index]:  1137.0999083173047
c[i]:  34852.95833637238
t_df['Sum'][index]:  1138.2559784962832
c[i]:  35996.14614579402
t_df['Sum'][index]:  1143.1878094216408
c[i]:  37182.280272971606
t_df['Sum'][index]:  1186.134127177589
c[i]:  38387.010375348706
t_df['Sum'][index]:  1204.7301023771033
c[i]:  39596.10015857569
t_df['Sum'][index]:  1209.0897832269839
c[i]:  40805.33203501339
t_df['Sum'][index]:  1209.231876437696
c[i]:  42021.18085034462
t_df['Sum'][index]:  1215.8488153312355
c[i]:  43250.41272678232
t_df['Sum'][index]:  1229.2318764376978
c[i]:  44529.5040571549
t_df['Sum'][index]:  1279.0913303725793
c[i]:  45838.3952764764
t_df['Sum'][index]:  1308.8912193215
c[i]:  47191.54829708534
t_df['Sum'][index]:  1353.1530206089374
c[i]:  48573.40943002578
t_df['Sum'][index]:  1381.8611329404375
c[i]:  49969.66019989483
t_df['Sum'][index]:  1396.2507698690497
c[i]:  51391.47469645621
t_df['Sum'][index]:  1421.8144965613737
c[i]:  52883.47999533925
t_df['Sum'][index]:  1492.0052988830466

[16758.404275439767,
 3042.734548954961,
 5584.256399597776,
 688.5315683083463,
 39596.10015857569,
 37182.280272971606,
 20747.36663351189,
 29209.552103518967,
 12873.44365051863,
 10075.272340827469,
 51391.47469645621,
 2230.4516903852295,
 49969.66019989483,
 14804.152700332252,
 19744.24184679513,
 3868.0672417493183,
 32577.602449558795,
 24873.22783445107,
 31453.341554599425,
 45838.3952764764,
 33714.7023578761,
 38387.010375348706,
 48573.40943002578,
 27018.05338868697,
 17746.058215927973,
 15776.372536197106,
 11928.38498512914,
 34852.95833637238,
 7357.140899826325,
 28112.726222606532,
 43250.41272678232,
 9164.003459225998,
 0,
 44529.5040571549,
 40805.33203501339,
 47191.54829708534,
 18742.21010755247,
 6466.014111435568,
 10992.375186715357,
 23820.939175710097,
 4716.744552320284,
 30331.30981535676,
 8252.876670835241,
 21755.020574000097,
 1444.5413667221314,
 22783.83632982221,
 25929.237632864857,
 35996.14614579402,
 13835.475389761294,
 42021.18085034462]

Note: We will use sche_spt in question 3.

The waiting time matrix:

In [13]:
w

[0.0,
 688.5315683083463,
 1444.5413667221314,
 2230.4516903852295,
 3042.734548954961,
 3868.067241749319,
 4716.744552320284,
 5584.256399597776,
 6466.014111435568,
 7357.140899826325,
 8252.876670835241,
 9164.003459225998,
 10075.272340827469,
 10992.375186715357,
 11928.38498512914,
 12873.443650518631,
 13835.475389761294,
 14804.152700332252,
 15776.372536197105,
 16758.404275439767,
 17746.058215927973,
 18742.21010755247,
 19744.24184679513,
 20747.36663351189,
 21755.020574000097,
 22783.83632982221,
 23820.939175710097,
 24873.22783445107,
 25929.237632864857,
 27018.05338868697,
 28112.726222606532,
 29209.552103518967,
 30331.30981535676,
 31453.341554599425,
 32577.602449558795,
 33714.7023578761,
 34852.95833637238,
 35996.14614579402,
 37182.280272971606,
 38387.010375348706,
 39596.10015857569,
 40805.33203501339,
 42021.18085034462,
 43250.41272678232,
 44529.5040571549,
 45838.3952764764,
 47191.54829708534,
 48573.409430025786,
 49969.66019989483,
 51391.47469645621]

The proof that c isn't dependent on the scheduling of the order:

In [14]:
max(c_spt)

52883.47999533925

The average waiting time for order:

In [15]:
sum(w)/J

23360.081653508354

### Question no. 3

First, we will calculate v and t for the new collector:

In [16]:
v2_df = v_df.copy()
v2_df = v2_df*1.15
v2_df

         veg       fru       oth
0   0.133942  0.113633  0.122340
1   0.166699  0.166313  0.133721
2   0.082339  0.135235  0.212963
3   0.094840  0.166313  0.250000
4   0.072560  0.113633  0.112745
5   0.082339  0.085676  0.122340
6   0.133942  0.113633  0.117347
7   0.082339  0.135235  0.112745
8   0.082339  0.166313  0.147436
9   0.094840  0.214617  0.133721
10  0.041281  0.085676  0.140244
11  0.111322  0.097782  0.273810
12  0.064718  0.076143  0.104545
13  0.111322  0.214617  0.108491
14  0.082339  0.214617  0.122340
15  0.082339  0.483095  0.147436
16  0.064718  0.166313  0.122340
17  0.094840  0.166313  0.108491
18  0.064718  0.068448  0.273810
19  0.058302  0.068448  0.147436
20  0.064718  0.097782  0.164286
21  0.072560  0.166313  0.097458
22  0.072560  0.068448  0.108491
23  0.133942  0.068448  0.140244
24  0.094840  0.113633  0.147436
25  0.082339  0.166313  0.140244
26  0.166699  0.135235  0.112745
27  0.082339  0.097782  0.127778
28  0.094840  0.135235  0.174242
29  0.064718  0.135235  0.147436
30  0.072560  0.062113  0.155405
31  0.111322  0.113633  0.164286
32  0.166699  0.299275  0.155405
33  0.048456  0.085676  0.174242
34  0.052962  0.113633  0.155405
35  0.038385  0.166313  0.140244
36  0.082339  0.166313  0.133721
37  0.111322  0.166313  0.140244
38  0.094840  0.166313  0.140244
39  0.072560  0.299275  0.112745
40  0.133942  0.166313  0.133721
41  0.082339  0.166313  0.104545
42  0.111322  0.166313  0.133721
43  0.072560  0.135235  0.155405
44  0.217884  0.214617  0.122340
45  0.094840  0.214617  0.104545
46  0.072560  0.135235  0.133721
47  0.058302  0.113633  0.147436
48  0.082339  0.483095  0.112745
49  0.072560  0.113633  0.108491

In [17]:
t2 = {"veg":[],"fru":[], "oth":[]}
for i in t2.keys():
    for j in range(J):
        if i == "veg" or i == "fru":
            t2[i].append(len_shelf/v2_df[i][j])
        else:
            t2[i].append(len_pass/v2_df[i][j])
t2_df = pd.DataFrame(t2)
t2_df['Sum'] = t2_df.sum(axis=1)
t2_df

           veg         fru         oth          Sum
0   186.648141  220.007459  408.695652   815.351253
1   149.970615  150.318683  373.913043   674.202342
2   303.621960  184.863007  234.782609   723.267576
3   263.602881  150.318683  200.000000   613.921564
4   344.541998  220.007459  443.478261  1008.027719
5   303.621960  291.795520  408.695652  1004.113133
6   186.648141  220.007459  426.086957   832.742557
7   303.621960  184.863007  443.478261   931.963228
8   303.621960  150.318683  339.130435   793.071078
9   263.602881  116.486550  373.913043   754.002475
10  605.600392  291.795520  356.521739  1253.917651
11  224.574177  255.671787  182.608696   662.854660
12  386.289933  328.331368  478.260870  1192.882171
13  224.574177  116.486550  460.869565   801.930292
14  303.621960  116.486550  408.695652   828.804162
15  303.621960   51.749614  339.130435   694.502009
16  386.289933  150.318683  408.695652   945.304268
17  263.602881  150.318683  460.869565   874.791129
18  386.289933  365.241280  182.608696   934.139909
19  428.804825  365.241280  339.130435  1133.176540
20  386.289933  255.671787  304.347826   946.309547
21  344.541998  150.318683  513.043478  1007.904159
22  344.541998  365.241280  460.869565  1170.652843
23  186.648141  365.241280  356.521739   908.411160
24  263.602881  220.007459  339.130435   822.740775
25  303.621960  150.318683  356.521739   810.462382
26  149.970615  184.863007  443.478261   778.311883
27  303.621960  255.671787  391.304348   950.598095
28  263.602881  184.863007  286.956522   735.422410
29  386.289933  184.863007  339.130435   910.283375
30  344.541998  402.493941  321.739130  1068.775070
31  224.574177  220.007459  304.347826   748.929462
32  149.970615   83.535096  321.739130   555.244842
33  515.935975  291.795520  286.956522  1094.688017
34  472.034989  220.007459  321.739130  1013.781579
35  651.299694  150.318683  356.521739  1158.140116
36  303.621960  150.318683  373.913043   827.853686
37  224.574177  150.318683  356.521739   731.414599
38  263.602881  150.318683  356.521739   770.443303
39  344.541998   83.535096  443.478261   871.555355
40  186.648141  150.318683  373.913043   710.879867
41  303.621960  150.318683  478.260870   932.201512
42  224.574177  150.318683  373.913043   748.805903
43  344.541998  184.863007  321.739130   851.144135
44  114.739818  116.486550  408.695652   639.922021
45  263.602881  116.486550  478.260870   858.350301
46  344.541998  184.863007  373.913043   903.318049
47  428.804825  220.007459  339.130435   987.942719
48  303.621960   51.749614  443.478261   798.849835
49  344.541998  220.007459  460.869565  1025.419023

In [18]:
internal_arrangement(t2_df)
spt_algo(t2_df)
t2_df

c[i]:  605.2448420072615
t_df['Sum'][index]:  605.2448420072615
c[i]:  1269.1664058453357
t_df['Sum'][index]:  663.9215638380742
c[i]:  1959.088426421939
t_df['Sum'][index]:  689.9220205766032
c[i]:  2671.9430860477937
t_df['Sum'][index]:  712.8546596258548
c[i]:  3396.145427608105
t_df['Sum'][index]:  724.202341560311
c[i]:  4140.647436800248
t_df['Sum'][index]:  744.5020091921433
c[i]:  4901.52730399807
t_df['Sum'][index]:  760.879867197822
c[i]:  5674.794879509194
t_df['Sum'][index]:  773.2675755111243
c[i]:  6456.209478109842
t_df['Sum'][index]:  781.4145986006479
c[i]:  7241.631887682815
t_df['Sum'][index]:  785.4224095729733
c[i]:  8040.437790631295
t_df['Sum'][index]:  798.8059029484793
c[i]:  8839.367252893437
t_df['Sum'][index]:  798.9294622621419
c[i]:  9643.369727578556
t_df['Sum'][index]:  804.0024746851186
c[i]:  10463.813030547066
t_df['Sum'][index]:  820.4433029685097
c[i]:  11292.124913494448
t_df['Sum'][index]:  828.3118829473824
c[i]:  12135.195991096763
t_df['Sum'][index]:  843.0710776023143
c[i]:  12984.045826375863
t_df['Sum'][index]:  848.8498352790994
c[i]:  13835.97611843226
t_df['Sum'][index]:  851.9302920563969
c[i]:  14696.438500382403
t_df['Sum'][index]:  860.462381950143
c[i]:  15561.789752980843
t_df['Sum'][index]:  865.3512525984402
c[i]:  16434.53052830649
t_df['Sum'][index]:  872.7407753256484
c[i]:  17312.38421460446
t_df['Sum'][index]:  877.8536862979672
c[i]:  18191.188376966864
t_df['Sum'][index]:  878.8041623624049
c[i]:  19073.93093391313
t_df['Sum'][index]:  882.7425569462666
c[i]:  19975.075069410625
t_df['Sum'][index]:  901.1441354974959
c[i]:  20883.425370182704
t_df['Sum'][index]:  908.3503007720792
c[i]:  21804.98072560964
t_df['Sum'][index]:  921.5553554269354
c[i]:  22729.771854665105
t_df['Sum'][index]:  924.7911290554657
c[i]:  23683.08990320608
t_df['Sum'][index]:  953.3180485409757
c[i]:  24641.501063136133
t_df['Sum'][index]:  958.4111599300522
c[i]:  25601.784437842598
t_df['Sum'][index]:  960.2833747064651
c[i]:  26583.747665527633
t_df['Sum'][index]:  981.963227685037
c[i]:  27565.949177912553
t_df['Sum'][index]:  982.2015123849196
c[i]:  28550.089086572872
t_df['Sum'][index]:  984.1399086603196
c[i]:  29545.393354674878
t_df['Sum'][index]:  995.3042681020052
c[i]:  30541.702901193385
t_df['Sum'][index]:  996.309546518507
c[i]:  31542.30099634264
t_df['Sum'][index]:  1000.5980951492566
c[i]:  32580.2437156275
t_df['Sum'][index]:  1037.9427192848598
c[i]:  33634.35684812933
t_df['Sum'][index]:  1054.1131325018296
c[i]:  34692.26100745714
t_df['Sum'][index]:  1057.9041593278089
c[i]:  35750.28872609862
t_df['Sum'][index]:  1058.0277186414746
c[i]:  36814.07030464751
t_df['Sum'][index]:  1063.7815785488965
c[i]:  37889.48932763682
t_df['Sum'][index]:  1075.4190229893065
c[i]:  39008.264397526014
t_df['Sum'][index]:  1118.7750698891978
c[i]:  40152.952414327316
t_df['Sum'][index]:  1144.688016801305
c[i]:  41336.12895398727
t_df['Sum'][index]:  1183.1765396599476
c[i]:  42544.26906958765
t_df['Sum'][index]:  1208.1401156003813
c[i]:  43764.92191295204
t_df['Sum'][index]:  1220.6528433643907
c[i]:  45007.80408387498
t_df['Sum'][index]:  1242.882170922936
c[i]:  46311.721735077634
t_df['Sum'][index]:  1303.9176512026497

           veg         fru         oth          Sum
0   186.648141  220.007459  408.695652   865.351253
1   149.970615  150.318683  373.913043   724.202342
2   303.621960  184.863007  234.782609   773.267576
3   263.602881  150.318683  200.000000   663.921564
4   344.541998  220.007459  443.478261  1058.027719
5   303.621960  291.795520  408.695652  1054.113133
6   186.648141  220.007459  426.086957   882.742557
7   303.621960  184.863007  443.478261   981.963228
8   303.621960  150.318683  339.130435   843.071078
9   263.602881  116.486550  373.913043   804.002475
10  605.600392  291.795520  356.521739  1303.917651
11  224.574177  255.671787  182.608696   712.854660
12  386.289933  328.331368  478.260870  1242.882171
13  224.574177  116.486550  460.869565   851.930292
14  303.621960  116.486550  408.695652   878.804162
15  303.621960   51.749614  339.130435   744.502009
16  386.289933  150.318683  408.695652   995.304268
17  263.602881  150.318683  460.869565   924.791129
18  386.289933  365.241280  182.608696   984.139909
19  428.804825  365.241280  339.130435  1183.176540
20  386.289933  255.671787  304.347826   996.309547
21  344.541998  150.318683  513.043478  1057.904159
22  344.541998  365.241280  460.869565  1220.652843
23  186.648141  365.241280  356.521739   958.411160
24  263.602881  220.007459  339.130435   872.740775
25  303.621960  150.318683  356.521739   860.462382
26  149.970615  184.863007  443.478261   828.311883
27  303.621960  255.671787  391.304348  1000.598095
28  263.602881  184.863007  286.956522   785.422410
29  386.289933  184.863007  339.130435   960.283375
30  344.541998  402.493941  321.739130  1118.775070
31  224.574177  220.007459  304.347826   798.929462
32  149.970615   83.535096  321.739130   605.244842
33  515.935975  291.795520  286.956522  1144.688017
34  472.034989  220.007459  321.739130  1063.781579
35  651.299694  150.318683  356.521739  1208.140116
36  303.621960  150.318683  373.913043   877.853686
37  224.574177  150.318683  356.521739   781.414599
38  263.602881  150.318683  356.521739   820.443303
39  344.541998   83.535096  443.478261   921.555355
40  186.648141  150.318683  373.913043   760.879867
41  303.621960  150.318683  478.260870   982.201512
42  224.574177  150.318683  373.913043   798.805903
43  344.541998  184.863007  321.739130   901.144135
44  114.739818  116.486550  408.695652   689.922021
45  263.602881  116.486550  478.260870   908.350301
46  344.541998  184.863007  373.913043   953.318049
47  428.804825  220.007459  339.130435  1037.942719
48  303.621960   51.749614  443.478261   848.849835
49  344.541998  220.007459  460.869565  1075.419023

In [19]:
K = [i for i in range(J)]

#shani - try

### Question no. 4

In [20]:
pass

### Question no. 5

In [21]:
pass

### Question no. 6

In [22]:
pass