## Production Systems Analysis Project
Owners: Almog Asraf, Daniel Pidtylok, Nir Levanon, Shani Yorav

### Imports

In [1]:
import numpy as np
import pandas as pd

### Parameters

In [2]:
J = 50 # Numbers of the orders

Creating the amount of vegtables, fruits and others from poission destribution:

In [3]:
lamb = [7.5, 5.2, 20] # Lambdas for the poission destribution
m = {1:[],2:[],3:[]} # 1: veggies, 2: fruits, 3: other
for i in m.keys(): # For each type of order
    for j in range(J): # For each order
        m[i].append(np.random.poisson(lamb[i-1]))
m_df = pd.DataFrame(m) # More easy to work with pandas df
m_df

     1   2   3
0    6   2  27
1    9   4  23
2    8   6  18
3    9   9  21
4   10   3  15
5    7   5  16
6    9   7  19
7   13   1  22
8    4   4  20
9    3   6  16
10   6   5  24
11  11   5  19
12   3   3  20
13   6   4  21
14   7   3  23
15   4   5  20
16   6   6  27
17   6   1  18
18  11  12  19
19   6   7  26
20  10   2  13
21   7   2  18
22   6   7  20
23   8   3  14
24   6   9  21
25   8   0  10
26   7   2  21
27  13   6  23
28   9   4  24
29   9   4  27
30  13   5  26
31   9   2  19
32   7   5  28
33  10   4  21
34   8   7  16
35  12   8  19
36   5   1  21
37   6   7  21
38  10   5  19
39  12   6  16
40   9   4  20
41  10   6  19
42   6   2  18
43   8  10  27
44   6   9  20
45   5   4  28
46   7   4  12
47   5   3  14
48   7   4  21
49  11   6  26

Creating the velocity matrix for each order:

In [4]:
v = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's velocity
for i in v.keys(): # For each type of order
    for j in range(J): # For each order
        if i == "veg":
            v[i].append((25/(25+25*m[1][j]))**1.2)
        elif i == "fru":
            v[i].append((25/(25+30*m[2][j]))**1.1)
        else:
            v[i].append(25/(25+10*m[3][j]))
v_df = pd.DataFrame(v) # More easy to work with pandas
v_df

         veg       fru       oth
0   0.096802  0.260239  0.084746
1   0.063096  0.144620  0.098039
2   0.071599  0.098811  0.121951
3   0.063096  0.066211  0.106383
4   0.056277  0.186624  0.142857
5   0.082469  0.117596  0.135135
6   0.063096  0.085027  0.116279
7   0.042135  0.420083  0.102041
8   0.144956  0.144620  0.111111
9   0.189465  0.098811  0.135135
10  0.096802  0.117596  0.094340
11  0.050697  0.117596  0.116279
12  0.189465  0.186624  0.111111
13  0.096802  0.144620  0.106383
14  0.082469  0.186624  0.098039
15  0.144956  0.117596  0.111111
16  0.096802  0.098811  0.084746
17  0.096802  0.420083  0.121951
18  0.050697  0.049400  0.116279
19  0.096802  0.085027  0.087719
20  0.056277  0.260239  0.161290
21  0.082469  0.260239  0.121951
22  0.096802  0.085027  0.111111
23  0.071599  0.186624  0.151515
24  0.096802  0.066211  0.106383
25  0.071599  1.000000  0.200000
26  0.082469  0.260239  0.106383
27  0.042135  0.098811  0.098039
28  0.063096  0.144620  0.094340
29  0.063096  0.144620  0.084746
30  0.042135  0.117596  0.087719
31  0.063096  0.260239  0.116279
32  0.082469  0.117596  0.081967
33  0.056277  0.144620  0.106383
34  0.071599  0.085027  0.135135
35  0.046054  0.074501  0.116279
36  0.116471  0.420083  0.106383
37  0.096802  0.085027  0.106383
38  0.056277  0.117596  0.116279
39  0.046054  0.098811  0.135135
40  0.063096  0.144620  0.111111
41  0.056277  0.098811  0.116279
42  0.096802  0.260239  0.121951
43  0.071599  0.059520  0.084746
44  0.096802  0.066211  0.111111
45  0.116471  0.144620  0.081967
46  0.082469  0.144620  0.172414
47  0.116471  0.186624  0.151515
48  0.082469  0.144620  0.106383
49  0.050697  0.098811  0.087719

Definig the length of each shelf:

In [5]:
len_shelf = 25
len_pass = len_shelf*2

Definig the time metrix that takes to do each type of order, by using velpcity matrix:

In [6]:
t = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's times
for i in t.keys(): # For each type of order
    for j in range(J): # For each order
        if i == "veg" or i == "fru": # Because veggies and fruits are in the same passage
            t[i].append(len_shelf/v_df[i][j])
        else: # Because others are in different passege
            t[i].append(len_pass/v_df[i][j])
t_df = pd.DataFrame(t)
t_df['Sum'] = t_df.sum(axis=1) # We will use it later and we will fix it to the real amount of time that will take to do the order
t_df

           veg         fru    oth          Sum
0   258.260303   96.065361  590.0   944.325664
1   396.223298  172.866485  510.0  1079.089783
2   349.165254  253.008578  410.0  1012.173832
3   396.223298  377.581073  470.0  1243.804371
4   444.233423  133.959533  350.0   928.192956
5   303.143313  212.592458  370.0   885.735771
6   396.223298  294.022555  430.0  1120.245853
7   593.326371   59.512056  490.0  1142.838428
8   172.466208  172.866485  450.0   795.332693
9   131.950791  253.008578  370.0   754.959369
10  258.260303  212.592458  530.0  1000.852761
11  493.125549  212.592458  430.0  1135.718007
12  131.950791  133.959533  450.0   715.910324
13  258.260303  172.866485  470.0   901.126788
14  303.143313  133.959533  510.0   947.102846
15  172.466208  212.592458  450.0   835.058665
16  258.260303  253.008578  590.0  1101.268882
17  258.260303   59.512056  410.0   727.772360
18  493.125549  506.072574  430.0  1429.198123
19  258.260303  294.022555  570.0  1122.282859
20  444.233423   96.065361  310.0   850.298784
21  303.143313   96.065361  410.0   809.208674
22  258.260303  294.022555  450.0  1002.282859
23  349.165254  133.959533  330.0   813.124787
24  258.260303  377.581073  470.0  1105.841377
25  349.165254   25.000000  250.0   624.165254
26  303.143313   96.065361  470.0   869.208674
27  593.326371  253.008578  510.0  1356.334949
28  396.223298  172.866485  530.0  1099.089783
29  396.223298  172.866485  590.0  1159.089783
30  593.326371  212.592458  570.0  1375.918829
31  396.223298   96.065361  430.0   922.288659
32  303.143313  212.592458  610.0  1125.735771
33  444.233423  172.866485  470.0  1087.099908
34  349.165254  294.022555  370.0  1013.187809
35  542.840237  335.564848  430.0  1308.405085
36  214.645362   59.512056  470.0   744.157419
37  258.260303  294.022555  470.0  1022.282859
38  444.233423  212.592458  430.0  1086.825881
39  542.840237  253.008578  370.0  1165.848815
40  396.223298  172.866485  450.0  1019.089783
41  444.233423  253.008578  430.0  1127.242002
42  258.260303   96.065361  410.0   764.325664
43  349.165254  420.027472  590.0  1359.192726
44  258.260303  377.581073  450.0  1085.841377
45  214.645362  172.866485  610.0   997.511847
46  303.143313  172.866485  290.0   766.009798
47  214.645362  133.959533  330.0   678.604895
48  303.143313  172.866485  470.0   946.009798
49  493.125549  253.008578  570.0  1316.134127

### Question no. 1

For more info, look at the docs:

In [7]:
def internal_arrangement(t_df, len_pass): # This function recives a time matrix, and we will use it for q2
    c = [0 for i in range(J)] # Definig end time matrix
    schedule = [0 for i in range(J)] # Defining the schedule for each order
    # Defining clock of the simulation
    t_now = 0 
    t_prev = 0
    for j in range(J): # For each order
        if m_df[1][j] > 0 or m_df[2][j] > 0: # If there are fruits or veggies to collect
            schedule[j] += t_now # Schedule the order for now
            t_prev = t_now 
            #if m_df[1][j] > 0: # If there are veggies, collect them
            t_now += t_df["veg"][j]
            #if m_df[2][j] > 0: # if ther are fruits, collect them
            t_now += t_df["fru"][j]
            if m_df[3][j] > 0: # If there are others, return back and collect them
                t_now += len_pass + t_df["oth"][j]
            t_df["Sum"][j] = t_now - t_prev # Fixing the sum collumn
            c[j] = t_now # Defining the end time of the order after all the collections
        else: # There are only others to collect
            t_now += t_df["oth"][j]
            c[j] = t_now # Defining the end time of the order after all the collections
    return c, schedule
c,schedule = internal_arrangement(t_df, len_pass)
max(c) # The answer to the question

52898.348310016765

Translating seconds to hours:

In [8]:
max(c)/(60*60)

14.693985641671324

The schedule of the orders:

In [9]:
schedule

[0,
 994.3256639047424,
 2123.415447131726,
 3185.5892795850996,
 4479.3936510561525,
 5457.586606847561,
 6393.322377856478,
 7563.568231262441,
 8756.406658777803,
 9601.739351572161,
 10406.69872097187,
 11457.551481957753,
 12643.269488519756,
 13409.179812182854,
 14360.306600573607,
 15357.409446461495,
 16242.468111850983,
 17393.736993452447,
 18171.509353171503,
 19650.70747569745,
 20822.990334267182,
 21723.289118098477,
 22582.497792026254,
 23634.780650595985,
 24497.90543731275,
 25653.74681394757,
 26302.912068078527,
 27222.120742006304,
 28628.455691404073,
 29777.545474631057,
 30986.63525785804,
 32412.55408664023,
 33384.842745381204,
 34560.57851639012,
 35697.678424707425,
 36760.86623412907,
 38119.27131938403,
 38913.42873798982,
 39985.71159655955,
 41122.53747747199,
 42338.386292803225,
 43407.47607603021,
 44584.71807755823,
 45399.04374146297,
 46808.2364673477,
 47944.07784398252,
 48991.589691260015,
 49807.5994896738,
 50536.20438442539,
 51532.214182839176]

The fixed time matrix:

In [10]:
t_df

           veg         fru    oth          Sum
0   258.260303   96.065361  590.0   994.325664
1   396.223298  172.866485  510.0  1129.089783
2   349.165254  253.008578  410.0  1062.173832
3   396.223298  377.581073  470.0  1293.804371
4   444.233423  133.959533  350.0   978.192956
5   303.143313  212.592458  370.0   935.735771
6   396.223298  294.022555  430.0  1170.245853
7   593.326371   59.512056  490.0  1192.838428
8   172.466208  172.866485  450.0   845.332693
9   131.950791  253.008578  370.0   804.959369
10  258.260303  212.592458  530.0  1050.852761
11  493.125549  212.592458  430.0  1185.718007
12  131.950791  133.959533  450.0   765.910324
13  258.260303  172.866485  470.0   951.126788
14  303.143313  133.959533  510.0   997.102846
15  172.466208  212.592458  450.0   885.058665
16  258.260303  253.008578  590.0  1151.268882
17  258.260303   59.512056  410.0   777.772360
18  493.125549  506.072574  430.0  1479.198123
19  258.260303  294.022555  570.0  1172.282859
20  444.233423   96.065361  310.0   900.298784
21  303.143313   96.065361  410.0   859.208674
22  258.260303  294.022555  450.0  1052.282859
23  349.165254  133.959533  330.0   863.124787
24  258.260303  377.581073  470.0  1155.841377
25  349.165254   25.000000  250.0   649.165254
26  303.143313   96.065361  470.0   919.208674
27  593.326371  253.008578  510.0  1406.334949
28  396.223298  172.866485  530.0  1149.089783
29  396.223298  172.866485  590.0  1209.089783
30  593.326371  212.592458  570.0  1425.918829
31  396.223298   96.065361  430.0   972.288659
32  303.143313  212.592458  610.0  1175.735771
33  444.233423  172.866485  470.0  1137.099908
34  349.165254  294.022555  370.0  1063.187809
35  542.840237  335.564848  430.0  1358.405085
36  214.645362   59.512056  470.0   794.157419
37  258.260303  294.022555  470.0  1072.282859
38  444.233423  212.592458  430.0  1136.825881
39  542.840237  253.008578  370.0  1215.848815
40  396.223298  172.866485  450.0  1069.089783
41  444.233423  253.008578  430.0  1177.242002
42  258.260303   96.065361  410.0   814.325664
43  349.165254  420.027472  590.0  1409.192726
44  258.260303  377.581073  450.0  1135.841377
45  214.645362  172.866485  610.0  1047.511847
46  303.143313  172.866485  290.0   816.009798
47  214.645362  133.959533  330.0   728.604895
48  303.143313  172.866485  470.0   996.009798
49  493.125549  253.008578  570.0  1366.134127

### Question no. 2

For more info, look at the docs:

Definig the waiting time of all the orders:

In [11]:
w = [0 for i in range(J)]

Defining the spt algoritem function, we will use it also at question no. 2:

In [12]:
def spt_algo(t_df):
    t_now = 0
    #t_prev = t_now
    t_copy = t_df["Sum"].copy() # Creating a copy of the fixed sum column, because we don't want to lose this info
    schedule = [0 for i in range(J)] # Defining the schedule for each order
    c = [0 for i in range(J)] # Definig end time matrix, only for proving a point
    for i in range(J): # For each order
        #t_prev = t_now
        index = t_copy.idxmin() # Pull the id of the minimal processing time
        schedule[index] += t_now # Scheduling the shortest order for current time
        t_now += t_copy[index] # Moving the sim clock to the end of the order
        c[i] = t_now # Definig the end time of the order
        w[i] = c[i] - t_df["Sum"][index] # Calculating the waiting time: end time - processing time
        print("c[i]: ",c[i])
        print("t_df['Sum'][index]: ", t_df["Sum"][index])
        t_copy[index] = None # "Deleting" the minimal processing time, so we can find the next minimal time
    return schedule, c, w
sche_spt,c_spt, w = spt_algo(t_df)
sche_spt

c[i]:  649.1652541309559
t_df['Sum'][index]:  649.1652541309559
c[i]:  1377.7701488825514
t_df['Sum'][index]:  728.6048947515956
c[i]:  2143.6804725456495
t_df['Sum'][index]:  765.9103236630981
c[i]:  2921.4528322647056
t_df['Sum'][index]:  777.7723597190561
c[i]:  3715.610250870497
t_df['Sum'][index]:  794.1574186057915
c[i]:  4520.569620270206
t_df['Sum'][index]:  804.9593693997085
c[i]:  5334.895284174945
t_df['Sum'][index]:  814.3256639047395
c[i]:  6150.905082588728
t_df['Sum'][index]:  816.0097984137828
c[i]:  6996.237775383086
t_df['Sum'][index]:  845.3326927943581
c[i]:  7855.446449310863
t_df['Sum'][index]:  859.2086739277765
c[i]:  8718.571236027628
t_df['Sum'][index]:  863.1247867167658
c[i]:  9603.629901417116
t_df['Sum'][index]:  885.0586653894879
c[i]:  10503.928685248411
t_df['Sum'][index]:  900.2987838312947
c[i]:  11423.137359176188
t_df['Sum'][index]:  919.2086739277765
c[i]:  12358.873130185104
t_df['Sum'][index]:  935.7357710089173
c[i]:  13309.999918575857
t_df['Sum'][index]:  951.1267883907531
c[i]:  14282.288577316831
t_df['Sum'][index]:  972.2886587409739
c[i]:  15260.48153310824
t_df['Sum'][index]:  978.1929557914082
c[i]:  16254.807197012982
t_df['Sum'][index]:  994.3256639047424
c[i]:  17250.816995426765
t_df['Sum'][index]:  996.0097984137828
c[i]:  18247.91984131465
t_df['Sum'][index]:  997.1028458878882
c[i]:  19295.431688592143
t_df['Sum'][index]:  1047.511847277492
c[i]:  20346.284449578026
t_df['Sum'][index]:  1050.852760985883
c[i]:  21398.567308147758
t_df['Sum'][index]:  1052.2828585697316
c[i]:  22460.74114060113
t_df['Sum'][index]:  1062.1738324533735
c[i]:  23523.928950022775
t_df['Sum'][index]:  1063.1878094216445
c[i]:  24593.01873324976
t_df['Sum'][index]:  1069.0897832269839
c[i]:  25665.301591819487
t_df['Sum'][index]:  1072.282858569728
c[i]:  26794.39137504647
t_df['Sum'][index]:  1129.0897832269836
c[i]:  27930.232751681295
t_df['Sum'][index]:  1135.841376634824
c[i]:  29067.058632593733
t_df['Sum'][index]:  1136.8258809124382
c[i]:  30204.15854091104
t_df['Sum'][index]:  1137.0999083173083
c[i]:  31353.248324138025
t_df['Sum'][index]:  1149.0897832269839
c[i]:  32504.51720573949
t_df['Sum'][index]:  1151.2688816014634
c[i]:  33660.358582374305
t_df['Sum'][index]:  1155.8413766348203
c[i]:  34830.60443578027
t_df['Sum'][index]:  1170.2458534059633
c[i]:  36002.88729435
t_df['Sum'][index]:  1172.2828585697316
c[i]:  37178.623065358915
t_df['Sum'][index]:  1175.7357710089127
c[i]:  38355.86506688694
t_df['Sum'][index]:  1177.2420015280222
c[i]:  39541.58307344894
t_df['Sum'][index]:  1185.7180065620032
c[i]:  40734.42150096431
t_df['Sum'][index]:  1192.8384275153621
c[i]:  41943.51128419129
t_df['Sum'][index]:  1209.0897832269839
c[i]:  43159.36009952253
t_df['Sum'][index]:  1215.8488153312355
c[i]:  44453.16447099358
t_df['Sum'][index]:  1293.804371471053
c[i]:  45811.56955624854
t_df['Sum'][index]:  1358.4050852549626
c[i]:  47177.70368342613
t_df['Sum'][index]:  1366.134127177589
c[i]:  48584.0386328239
t_df['Sum'][index]:  1406.3349493977694
c[i]:  49993.231358708625
t_df['Sum'][index]:  1409.1927258847281
c[i]:  51419.15018749081
t_df['Sum'][index]:  1425.918828782189
c[i]:  52898.348310016765
t_df['Sum'][index]:  1479.1981225259478

[15260.48153310824,
 25665.301591819487,
 21398.567308147758,
 43159.36009952253,
 14282.288577316831,
 11423.137359176188,
 33660.358582374305,
 39541.58307344894,
 6150.905082588728,
 3715.610250870497,
 19295.431688592143,
 38355.86506688694,
 1377.7701488825514,
 12358.873130185104,
 17250.816995426765,
 8718.571236027628,
 31353.248324138025,
 2143.6804725456495,
 51419.15018749081,
 34830.60443578027,
 9603.629901417116,
 6996.237775383086,
 20346.284449578026,
 7855.446449310863,
 32504.51720573949,
 0,
 10503.928685248411,
 47177.70368342613,
 30204.15854091104,
 40734.42150096431,
 49993.231358708625,
 13309.999918575857,
 36002.88729435,
 29067.058632593733,
 22460.74114060113,
 44453.16447099358,
 2921.4528322647056,
 24593.01873324976,
 27930.232751681295,
 41943.51128419129,
 23523.928950022775,
 37178.623065358915,
 4520.569620270206,
 48584.0386328239,
 26794.39137504647,
 18247.91984131465,
 5334.895284174945,
 649.1652541309559,
 16254.807197012982,
 45811.56955624854]

Note: We will use sche_spt in question 3.

The waiting time matrix:

In [13]:
w

[0.0,
 649.1652541309559,
 1377.7701488825514,
 2143.6804725456495,
 2921.4528322647056,
 3715.610250870497,
 4520.569620270206,
 5334.895284174945,
 6150.905082588728,
 6996.237775383086,
 7855.446449310863,
 8718.571236027628,
 9603.629901417116,
 10503.928685248411,
 11423.137359176188,
 12358.873130185104,
 13309.999918575857,
 14282.288577316831,
 15260.48153310824,
 16254.807197012982,
 17250.816995426765,
 18247.91984131465,
 19295.431688592143,
 20346.284449578026,
 21398.567308147758,
 22460.74114060113,
 23523.928950022775,
 24593.01873324976,
 25665.301591819487,
 26794.39137504647,
 27930.232751681295,
 29067.058632593733,
 30204.15854091104,
 31353.248324138025,
 32504.517205739485,
 33660.358582374305,
 34830.604435780275,
 36002.88729435,
 37178.623065358915,
 38355.86506688694,
 39541.58307344894,
 40734.42150096431,
 41943.51128419129,
 43159.36009952253,
 44453.16447099358,
 45811.56955624854,
 47177.70368342612,
 48584.0386328239,
 49993.231358708625,
 51419.15018749081]

The proof that c isn't dependent on the scheduling of the order:

In [14]:
max(c_spt)

52898.348310016765

The average waiting time for order:

In [15]:
sum(w)/J

23137.262810598444

### Question no. 3

First, we will calculate v and t for the new collector:

In [16]:
v2_df = v_df.copy()
v2_df = v2_df*1.15
v2_df

         veg       fru       oth
0   0.111322  0.299275  0.097458
1   0.072560  0.166313  0.112745
2   0.082339  0.113633  0.140244
3   0.072560  0.076143  0.122340
4   0.064718  0.214617  0.164286
5   0.094840  0.135235  0.155405
6   0.072560  0.097782  0.133721
7   0.048456  0.483095  0.117347
8   0.166699  0.166313  0.127778
9   0.217884  0.113633  0.155405
10  0.111322  0.135235  0.108491
11  0.058302  0.135235  0.133721
12  0.217884  0.214617  0.127778
13  0.111322  0.166313  0.122340
14  0.094840  0.214617  0.112745
15  0.166699  0.135235  0.127778
16  0.111322  0.113633  0.097458
17  0.111322  0.483095  0.140244
18  0.058302  0.056810  0.133721
19  0.111322  0.097782  0.100877
20  0.064718  0.299275  0.185484
21  0.094840  0.299275  0.140244
22  0.111322  0.097782  0.127778
23  0.082339  0.214617  0.174242
24  0.111322  0.076143  0.122340
25  0.082339  1.150000  0.230000
26  0.094840  0.299275  0.122340
27  0.048456  0.113633  0.112745
28  0.072560  0.166313  0.108491
29  0.072560  0.166313  0.097458
30  0.048456  0.135235  0.100877
31  0.072560  0.299275  0.133721
32  0.094840  0.135235  0.094262
33  0.064718  0.166313  0.122340
34  0.082339  0.097782  0.155405
35  0.052962  0.085676  0.133721
36  0.133942  0.483095  0.122340
37  0.111322  0.097782  0.122340
38  0.064718  0.135235  0.133721
39  0.052962  0.113633  0.155405
40  0.072560  0.166313  0.127778
41  0.064718  0.113633  0.133721
42  0.111322  0.299275  0.140244
43  0.082339  0.068448  0.097458
44  0.111322  0.076143  0.127778
45  0.133942  0.166313  0.094262
46  0.094840  0.166313  0.198276
47  0.133942  0.214617  0.174242
48  0.094840  0.166313  0.122340
49  0.058302  0.113633  0.100877

In [17]:
t2 = {"veg":[],"fru":[], "oth":[]}
for i in t2.keys():
    for j in range(J):
        if i == "veg" or i == "fru":
            t2[i].append(len_shelf/v2_df[i][j])
        else:
            t2[i].append(len_pass/v2_df[i][j])
t2_df = pd.DataFrame(t2)
t2_df['Sum'] = t2_df.sum(axis=1)
t2_df

           veg         fru         oth          Sum
0   224.574177   83.535096  513.043478   821.152751
1   344.541998  150.318683  443.478261   938.338942
2   303.621960  220.007459  356.521739   880.151159
3   344.541998  328.331368  408.695652  1081.569019
4   386.289933  116.486550  304.347826   807.124309
5   263.602881  184.863007  321.739130   770.205018
6   344.541998  255.671787  373.913043   974.126829
7   515.935975   51.749614  426.086957   993.772546
8   149.970615  150.318683  391.304348   691.593646
9   114.739818  220.007459  321.739130   656.486408
10  224.574177  184.863007  460.869565   870.306749
11  428.804825  184.863007  373.913043   987.580875
12  114.739818  116.486550  391.304348   622.530716
13  224.574177  150.318683  408.695652   783.588512
14  263.602881  116.486550  443.478261   823.567692
15  149.970615  184.863007  391.304348   726.137970
16  224.574177  220.007459  513.043478   957.625114
17  224.574177   51.749614  356.521739   632.845530
18  428.804825  440.063108  373.913043  1242.780976
19  224.574177  255.671787  495.652174   975.898138
20  386.289933   83.535096  269.565217   739.390247
21  263.602881   83.535096  356.521739   703.659716
22  224.574177  255.671787  391.304348   871.550312
23  303.621960  116.486550  286.956522   707.065032
24  224.574177  328.331368  408.695652   961.601197
25  303.621960   21.739130  217.391304   542.752395
26  263.602881   83.535096  408.695652   755.833630
27  515.935975  220.007459  443.478261  1179.421695
28  344.541998  150.318683  460.869565   955.730246
29  344.541998  150.318683  513.043478  1007.904159
30  515.935975  184.863007  495.652174  1196.451155
31  344.541998   83.535096  373.913043   801.990138
32  263.602881  184.863007  530.434783   978.900670
33  386.289933  150.318683  408.695652   945.304268
34  303.621960  255.671787  321.739130   881.032878
35  472.034989  291.795520  373.913043  1137.743552
36  186.648141   51.749614  408.695652   647.093407
37  224.574177  255.671787  408.695652   888.941616
38  386.289933  184.863007  373.913043   945.065983
39  472.034989  220.007459  321.739130  1013.781579
40  344.541998  150.318683  391.304348   886.165029
41  386.289933  220.007459  373.913043   980.210436
42  224.574177   83.535096  356.521739   664.631012
43  303.621960  365.241280  513.043478  1181.906718
44  224.574177  328.331368  391.304348   944.209893
45  186.648141  150.318683  530.434783   867.401606
46  263.602881  150.318683  252.173913   666.095477
47  186.648141  116.486550  286.956522   590.091213
48  263.602881  150.318683  408.695652   822.617216
49  428.804825  220.007459  495.652174  1144.464458

In [18]:
internal_arrangement(t2_df, len_pass = len_pass/1.15)
spt_algo(t2_df)
t2_df

c[i]:  564.4915253312683
t_df['Sum'][index]:  564.4915253312683
c[i]:  1198.0609990283083
t_df['Sum'][index]:  633.5694736970399
c[i]:  1864.069976126655
t_df['Sum'][index]:  666.0089770983468
c[i]:  2540.3937671867043
t_df['Sum'][index]:  676.3237910600492
c[i]:  3230.9654355395705
t_df['Sum'][index]:  690.5716683528663
c[i]:  3930.9301045827942
t_df['Sum'][index]:  699.9646690432237
c[i]:  4639.039377543433
t_df['Sum'][index]:  708.1092729606389
c[i]:  5348.613115294551
t_df['Sum'][index]:  709.5737377511177
c[i]:  6083.685022072253
t_df['Sum'][index]:  735.0719067777018
c[i]:  6830.822999400753
t_df['Sum'][index]:  747.1379773285007
c[i]:  7581.366292197942
t_df['Sum'][index]:  750.5432927971888
c[i]:  8350.982522971408
t_df['Sum'][index]:  769.6162307734667
c[i]:  9133.851030650792
t_df['Sum'][index]:  782.8685076793845
c[i]:  9933.162921022773
t_df['Sum'][index]:  799.3118903719806
c[i]:  10746.846200160962
t_df['Sum'][index]:  813.6832791381885
c[i]:  11573.91297267466
t_df['Sum'][index]:  827.0667725136973
c[i]:  12419.381371579855
t_df['Sum'][index]:  845.4683989051955
c[i]:  13269.983941833252
t_df['Sum'][index]:  850.602570253398
c[i]:  14134.614953924332
t_df['Sum'][index]:  864.6310120910805
c[i]:  15000.71043080589
t_df['Sum'][index]:  866.0954768815573
c[i]:  15867.75638375188
t_df['Sum'][index]:  867.0459529459895
c[i]:  16778.6362509497
t_df['Sum'][index]:  910.879867197822
c[i]:  17692.42126050264
t_df['Sum'][index]:  913.7850095529411
c[i]:  18607.449833171973
t_df['Sum'][index]:  915.0285726693328
c[i]:  19531.079252696647
t_df['Sum'][index]:  923.629419524673
c[i]:  20455.590391324164
t_df['Sum'][index]:  924.5111386275166
c[i]:  21385.233681086764
t_df['Sum'][index]:  929.6432897626
c[i]:  22317.65355810392
t_df['Sum'][index]:  932.419877017157
c[i]:  23299.470760909993
t_df['Sum'][index]:  981.817202806073
c[i]:  24287.15891450549
t_df['Sum'][index]:  987.6881535954963
c[i]:  25275.70315877717
t_df['Sum'][index]:  988.5442442716812
c[i]:  26264.48568774874
t_df['Sum'][index]:  988.7825289715693
c[i]:  27263.694194902637
t_df['Sum'][index]:  999.2085071538968
c[i]:  28264.797570208255
t_df['Sum'][index]:  1001.1033753056199
c[i]:  29269.87702815158
t_df['Sum'][index]:  1005.0794579433241
c[i]:  30287.48211806981
t_df['Sum'][index]:  1017.6050899182292
c[i]:  31306.858516826098
t_df['Sum'][index]:  1019.3763987562888
c[i]:  32329.2374481382
t_df['Sum'][index]:  1022.3789313121015
c[i]:  33352.92614511908
t_df['Sum'][index]:  1023.6886969808838
c[i]:  34383.98528125996
t_df['Sum'][index]:  1031.0591361408733
c[i]:  35421.236087795056
t_df['Sum'][index]:  1037.2508065350967
c[i]:  36472.61850799243
t_df['Sum'][index]:  1051.3824201973766
c[i]:  37529.87834741089
t_df['Sum'][index]:  1057.2598394184606
c[i]:  38654.92562695094
t_df['Sum'][index]:  1125.0472795400465
c[i]:  39836.147440216126
t_df['Sum'][index]:  1181.2218132651797
c[i]:  41024.090159500985
t_df['Sum'][index]:  1187.9427192848598
c[i]:  42246.99011549905
t_df['Sum'][index]:  1222.899955998062
c[i]:  43472.37509452924
t_df['Sum'][index]:  1225.3849790301902
c[i]:  44712.30451086158
t_df['Sum'][index]:  1239.9294163323393
c[i]:  45998.563747840664
t_df['Sum'][index]:  1286.2592369790855

           veg         fru         oth          Sum
0   224.574177   83.535096  513.043478   864.631012
1   344.541998  150.318683  443.478261   981.817203
2   303.621960  220.007459  356.521739   923.629420
3   344.541998  328.331368  408.695652  1125.047280
4   386.289933  116.486550  304.347826   850.602570
5   263.602881  184.863007  321.739130   813.683279
6   344.541998  255.671787  373.913043  1017.605090
7   515.935975   51.749614  426.086957  1037.250807
8   149.970615  150.318683  391.304348   735.071907
9   114.739818  220.007459  321.739130   699.964669
10  224.574177  184.863007  460.869565   913.785010
11  428.804825  184.863007  373.913043  1031.059136
12  114.739818  116.486550  391.304348   666.008977
13  224.574177  150.318683  408.695652   827.066773
14  263.602881  116.486550  443.478261   867.045953
15  149.970615  184.863007  391.304348   769.616231
16  224.574177  220.007459  513.043478  1001.103375
17  224.574177   51.749614  356.521739   676.323791
18  428.804825  440.063108  373.913043  1286.259237
19  224.574177  255.671787  495.652174  1019.376399
20  386.289933   83.535096  269.565217   782.868508
21  263.602881   83.535096  356.521739   747.137977
22  224.574177  255.671787  391.304348   915.028573
23  303.621960  116.486550  286.956522   750.543293
24  224.574177  328.331368  408.695652  1005.079458
25  303.621960   21.739130  217.391304   564.491525
26  263.602881   83.535096  408.695652   799.311890
27  515.935975  220.007459  443.478261  1222.899956
28  344.541998  150.318683  460.869565   999.208507
29  344.541998  150.318683  513.043478  1051.382420
30  515.935975  184.863007  495.652174  1239.929416
31  344.541998   83.535096  373.913043   845.468399
32  263.602881  184.863007  530.434783  1022.378931
33  386.289933  150.318683  408.695652   988.782529
34  303.621960  255.671787  321.739130   924.511139
35  472.034989  291.795520  373.913043  1181.221813
36  186.648141   51.749614  408.695652   690.571668
37  224.574177  255.671787  408.695652   932.419877
38  386.289933  184.863007  373.913043   988.544244
39  472.034989  220.007459  321.739130  1057.259839
40  344.541998  150.318683  391.304348   929.643290
41  386.289933  220.007459  373.913043  1023.688697
42  224.574177   83.535096  356.521739   708.109273
43  303.621960  365.241280  513.043478  1225.384979
44  224.574177  328.331368  391.304348   987.688154
45  186.648141  150.318683  530.434783   910.879867
46  263.602881  150.318683  252.173913   709.573738
47  186.648141  116.486550  286.956522   633.569474
48  263.602881  150.318683  408.695652   866.095477
49  428.804825  220.007459  495.652174  1187.942719

prep for Q//c_max - for more info go to doc:

calc the ratio of the task index (K) to the working rate of the gatherer (s_j: s1 = 1, s2 = 1.15): K/s_j

In [19]:
K_S1 = [i for i in range(1, J+1)]

K_S2 = [0 for i in range(1, J+1)]
for i in range(1, 51):
    K_S2[i-1] = i/1.15

As we do in Q//sigma(C_i): take the task with the longest time and match it to the min ratio of both gatherers.

* The heuristics will be to place the tasks from the beginning and not the end (as we do in P//c_max). 

* Note the longest task will be the same for the both gatherers since the ratio is permanent

In [20]:
#initializing schedules: 1 for the regular, 2 for the faster one
sch_1_Q3 = []
sch_2_Q3 = []

#initializing time counters
time_1 = 0
time_2 = 0

# to compare with Q4 - initializing dictionaries for waiting time to each task in specific gather. 
waiting_time_1 = {}
waiting_time_2 = {}

#copy for processing times
t_df_copy = t_df.copy()


for i in range(J):
    task_idx = t_df_copy['Sum'].idxmax() # task index with max time
    task_time_1 = t_df_copy['Sum'][task_idx] # time processing for the regular
    task_time_2 = t2_df['Sum'][task_idx] ## time processing for the fast gather

    
    t_df_copy['Sum'][task_idx] = None # for not using it again
    
    # taking min ratio
    min_K_S1 = min(K_S1)
    min_K_S2 = min(K_S2)
    
    min_tot = 0
    
    #case the min ratio is for the regular gather
    if min_K_S1 < min_K_S2:
        waiting_time_1[task_idx] = time_1 # waiting time until now, not including the process time for this task
        min_tot = min_K_S1
        idx = K_S1.index(min_tot)
        K_S1.pop(idx)
            
        sch_1_Q3.append(task_idx) # add the task to regular gather schedule
            
        time_1 += task_time_1 # update time
    
    #case the min ratio is for the fast gather    
    else:
        waiting_time_2[task_idx] = time_2 # waiting time until now, not including the process time for this task
        min_tot = min_K_S2
        idx = K_S2.index(min_tot)
        K_S2.pop(idx)
            
        sch_2_Q3.append(task_idx) # add the task to faster gather schedule
            
        time_2 += task_time_2 # update time


time_finish = max(time_2, time_1) # C_MAX

print('time_finish: ',time_finish)
print('sch for regular gather: ', sch_1_Q3)
print('sch for fast gather: ', sch_2_Q3)

time_finish:  24825.50236809726
sch for regular gather:  [30, 27, 35, 39, 7, 41, 6, 16, 33, 44, 37, 34, 22, 14, 0, 31, 5, 20, 23, 46, 9, 17, 47]
sch for fast gather:  [18, 43, 49, 3, 29, 11, 32, 19, 24, 28, 38, 1, 40, 2, 10, 45, 48, 4, 13, 26, 15, 21, 8, 42, 36, 12, 25]

In [21]:
#to compare woth Q4
total_wt_1 = sum(list(waiting_time_1.values()))
avg_wt_1 = total_wt_1/len(list(waiting_time_1.values()))

total_wt_2 = sum(list(waiting_time_2.values()))
avg_wt_2 = total_wt_2/len(list(waiting_time_2.values()))

total_wt_both = total_wt_1 + total_wt_2
avg_wt__both = total_wt_both/J

### Question no. 4

re-calc the ratio of the task index (K) to the working rate of the gatherer (s_j: s1 = 1, s2 = 1.15): K/s_j

In [22]:
#prep for the ratios 
K_S1_Q4 = [i for i in range(1, J+1)]

K_S2_Q4 = [0 for i in range(1, J+1)]
for i in range(1, 51):
    K_S2_Q4[i-1] = i/1.15

As we do in Q//sigma(C_i): take the task with the longest time and match it to the min ratio of both gatherers. 

* Will place the tasks from end to beginning as should do in Q//sigma(C_i). 

* Note the longest task will be the same for the both gatherers since the ratio is permanent

In [23]:
#initializing schedules: 1 for the regular, 2 for the faster one
sch_1_Q4 = []
sch_2_Q4 = []

#initializing time counters
time_1_Q4 = 0
time_2_Q4 = 0

# initializing dictionaries for waiting time to each task in specific gather. 
waiting_time_1_Q4 = {}
waiting_time_2_Q4 = {}

#copy for processing times
t_Q4_copy = t_df.copy()

### same algo as Q3 - no time clculations
for i in range(J):
    task_idx = t_Q4_copy['Sum'].idxmax() # task index with max time
    task_time_1 = t_Q4_copy['Sum'][task_idx] # time processing for the regular
    task_time_2 = t2_df['Sum'][task_idx] ## time processing for the fast gather
    
    t_Q4_copy['Sum'][task_idx] = None # for not using it again
    
    # taking min ratio
    min_K_S1 = min(K_S1_Q4)
    min_K_S2 = min(K_S2_Q4)
    
    min_tot = 0
    
    #case the min ratio is for the regular gather
    if min_K_S1 < min_K_S2:
        min_tot = min_K_S1
        idx = K_S1_Q4.index(min_tot)
        K_S1_Q4.pop(idx)
            
        sch_1_Q4.append([task_idx, task_time_1]) # add the task to regular gather schedule
    
    #case the min ratio is for the fast gather    
    else:
        min_tot = min_K_S2
        idx = K_S2_Q4.index(min_tot)
        K_S2_Q4.pop(idx)
            
        sch_2_Q4.append([task_idx,task_time_2]) # add the task to faster gather schedule
###

### New - Assign tasks from end to beginning
t1=0 # time (regular gather) counter
agg_time_1 = [0] # Auxiliary variable in order to calculate waiting time 
sch_1_rev = [] # Auxiliary variable to reverse scheduale
sch_1_final = []

for i in range(len(sch_1_Q4)):
    sch_1_rev.append(sch_1_Q4[-1])
    t1 += sch_1_Q4[-1][1]  # accumulation
    sch_1_Q4.pop(-1)
    
    agg_time_1.append(t1) # list of waiting time - no task index
    
    waiting_time_1_Q4[sch_1_rev[i][0]] = agg_time_1[i] # dict of waiting time- k= task, v= waiting time (reg gather)
    
    sch_1_final.append(sch_1_rev[i][0])


t2=0 # time (fast gather) counter
agg_time_2 = [0] # Auxiliary variable in order to calculate waiting time
sch_2_rev = [] # Auxiliary variable to reverse scheduale
sch_2_final = []

for i in range(len(sch_2_Q4)):
    sch_2_rev.append(sch_2_Q4[-1]) 
    t2 += sch_2_Q4[-1][1] # accumulation
    sch_2_Q4.pop(-1)
    
    agg_time_2.append(t2) # list of waiting time - no task index
    
    waiting_time_2_Q4[sch_2_rev[i][0]] = agg_time_2[i] # dict of waiting time- k= task, v= waiting time (fast gather)
    
    sch_2_final.append(sch_2_rev[i][0])


time_finish_Q4 = max(agg_time_1[-1], agg_time_2[-1]) # C_MAX

print('time_finish Q4: ', time_finish_Q4)
print('sch for regular gather: ', sch_1_final)
print('sch for fast gather: ', sch_2_final)

time_finish Q4:  24825.50236809725
sch for regular gather:  [47, 17, 9, 46, 23, 20, 5, 31, 0, 14, 22, 34, 37, 44, 33, 16, 6, 41, 7, 39, 35, 27, 30]
sch for fast gather:  [25, 12, 36, 42, 8, 21, 15, 26, 13, 4, 48, 45, 10, 2, 40, 1, 38, 28, 24, 19, 32, 11, 29, 3, 49, 43, 18]

As we expected all schedules are reversed (Q3 vs Q4). 

Now will compare waiting time:

In [24]:
#print('waiting_time for 1: ', waiting_time_1_Q4.items())
total_wt_1_Q4 = sum(list(waiting_time_1_Q4.values()))
avg_wt_1_Q4 = total_wt_1_Q4/len(list(waiting_time_1_Q4.values()))
print('Regular worker:')
print('-----------------------------------------------------')
print('The total waiting time in Q3: ',total_wt_1, 'and the avg waiting time: ',avg_wt_1)
print('Total waiting time Q4: ',total_wt_1_Q4, ' and avg waiting time Q4: ', avg_wt_1_Q4)

print('-----------------------------------------------------')
print('-----------------------------------------------------')


total_wt_2_Q4 = sum(list(waiting_time_2_Q4.values()))
avg_wt_2_Q4 = total_wt_2_Q4/len(list(waiting_time_2_Q4.values()))
print('Fast worker:')
print('-----------------------------------------------------')
print('The total waiting time in Q3: ',total_wt_2, 'and the avg waiting time in Q3: ',avg_wt_2)
print('Total waiting time Q4: ', total_wt_2_Q4,'and avg waiting tine Q4: ',avg_wt_2_Q4)

print('-----------------------------------------------------')
print('-----------------------------------------------------')

total_wt_both_Q4 = total_wt_1_Q4 + total_wt_2_Q4
avg_wt__both_Q4 = total_wt_both_Q4/J
print('Both workers:')
print('-----------------------------------------------------')
print('The total waiting time in Q3: ',total_wt_both,' and The avg waiting time in Q3: ',avg_wt__both)
print('Total waiting time Q4: ', total_wt_both_Q4, ' and avg waiting time Q4: ',avg_wt__both_Q4)

Regular worker:
-----------------------------------------------------
The total waiting time in Q3:  296558.95509284403 and the avg waiting time:  12893.867612732349
Total waiting time Q4:  239119.49781466433  and avg waiting time Q4:  10396.499904985405
-----------------------------------------------------
-----------------------------------------------------
Fast worker:
-----------------------------------------------------
The total waiting time in Q3:  358684.9409596131 and the avg waiting time in Q3:  13284.627442948633
Total waiting time Q4:  286778.1206109156 and avg waiting tine Q4:  10621.411874478355
-----------------------------------------------------
-----------------------------------------------------
Both workers:
-----------------------------------------------------
The total waiting time in Q3:  655243.8960524572  and The avg waiting time in Q3:  13104.877921049143
Total waiting time Q4:  525897.61842558  and avg waiting time Q4:  10517.9523685116

### Question no. 5

In [25]:
pass

### Question no. 6

In [26]:
pass