## Production Systems Analysis Project
Owners: Almog Asraf, Daniel Pidtylok, Nir Levanon, Shani Yorav

### Imports

In [1]:
import numpy as np
import pandas as pd

### Parameters

In [2]:
J = 50 # Numbers of the orders

In [3]:
lamb = [7.5, 5.2, 20] # Lambdas for the poission destribution
m = {1:[],2:[],3:[]}
for i in m.keys():
    for j in range(J):
        m[i].append(np.random.poisson(lamb[i-1]))
m_df = pd.DataFrame(m)
m_df

     1  2   3
0   12  4  17
1    7  3  16
2   11  6  19
3    6  4  19
4    7  4  16
5    5  5  24
6    7  7  25
7    5  4  19
8   12  3  17
9    3  4  16
10   6  6  11
11   8  3  24
12   4  5  22
13   6  3  15
14  12  2  29
15   8  8  22
16   9  5  12
17   6  7  32
18   5  7  19
19   7  6  22
20   7  4  22
21   6  2  18
22   4  4  25
23   4  6  17
24   8  5  22
25  12  3  15
26   7  3  23
27  11  7  17
28   9  6  19
29   8  6  17
30   9  1  26
31   9  4  21
32  13  7  22
33   5  2  27
34   4  6  33
35  10  7  28
36  10  6  25
37   6  7  29
38   6  6  34
39   7  2  24
40   7  3  16
41   8  5  20
42   7  3  20
43  10  5  24
44   7  5  11
45   7  2  20
46   5  4  18
47   9  7  24
48  10  4  18
49   5  5  14

In [4]:
v = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's velocity
for i in v.keys():
    for j in range(J):
        if i == "veg":
            v[i].append((25/(25+25*m[1][j]))**1.2)
        elif i == "fru":
            v[i].append((25/(25+30*m[2][j]))**1.1)
        else:
            v[i].append(25/(25+10*m[3][j]))
v_df = pd.DataFrame(v)
v_df

         veg       fru       oth
0   0.046054  0.144620  0.128205
1   0.082469  0.186624  0.135135
2   0.050697  0.098811  0.116279
3   0.096802  0.144620  0.116279
4   0.082469  0.144620  0.135135
5   0.116471  0.117596  0.094340
6   0.082469  0.085027  0.090909
7   0.116471  0.144620  0.116279
8   0.046054  0.186624  0.128205
9   0.189465  0.144620  0.135135
10  0.096802  0.098811  0.185185
11  0.071599  0.186624  0.094340
12  0.144956  0.117596  0.102041
13  0.096802  0.186624  0.142857
14  0.046054  0.260239  0.079365
15  0.071599  0.074501  0.102041
16  0.063096  0.117596  0.172414
17  0.096802  0.085027  0.072464
18  0.116471  0.085027  0.116279
19  0.082469  0.098811  0.102041
20  0.082469  0.144620  0.102041
21  0.096802  0.260239  0.121951
22  0.144956  0.144620  0.090909
23  0.144956  0.098811  0.128205
24  0.071599  0.117596  0.102041
25  0.046054  0.186624  0.142857
26  0.082469  0.186624  0.098039
27  0.050697  0.085027  0.128205
28  0.063096  0.098811  0.116279
29  0.071599  0.098811  0.128205
30  0.063096  0.420083  0.087719
31  0.063096  0.144620  0.106383
32  0.042135  0.085027  0.102041
33  0.116471  0.260239  0.084746
34  0.144956  0.098811  0.070423
35  0.056277  0.085027  0.081967
36  0.056277  0.098811  0.090909
37  0.096802  0.085027  0.079365
38  0.096802  0.098811  0.068493
39  0.082469  0.260239  0.094340
40  0.082469  0.186624  0.135135
41  0.071599  0.117596  0.111111
42  0.082469  0.186624  0.111111
43  0.056277  0.117596  0.094340
44  0.082469  0.117596  0.185185
45  0.082469  0.260239  0.111111
46  0.116471  0.144620  0.121951
47  0.063096  0.085027  0.094340
48  0.056277  0.144620  0.121951
49  0.116471  0.117596  0.151515

In [5]:
len_shelf = 25
len_pass = len_shelf*2
c = [0 for i in range(J)]
schedule = [0 for i in range(J)]

In [6]:
t = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's times
for i in t.keys():
    for j in range(J):
        if i == "veg" or i == "fru":
            t[i].append(len_shelf/v_df[i][j])
        else:
            t[i].append(len_pass/v_df[i][j])
t_df = pd.DataFrame(t)
t_df['Sum'] = t_df.sum(axis=1)
t_df

           veg         fru    oth          Sum
0   542.840237  172.866485  390.0  1105.706722
1   303.143313  133.959533  370.0   807.102846
2   493.125549  253.008578  430.0  1176.134127
3   258.260303  172.866485  430.0   861.126788
4   303.143313  172.866485  370.0   846.009798
5   214.645362  212.592458  530.0   957.237820
6   303.143313  294.022555  550.0  1147.165869
7   214.645362  172.866485  430.0   817.511847
8   542.840237  133.959533  390.0  1066.799770
9   131.950791  172.866485  370.0   674.817276
10  258.260303  253.008578  270.0   781.268882
11  349.165254  133.959533  530.0  1013.124787
12  172.466208  212.592458  490.0   875.058665
13  258.260303  133.959533  350.0   742.219836
14  542.840237   96.065361  630.0  1268.905598
15  349.165254  335.564848  490.0  1174.730102
16  396.223298  212.592458  290.0   898.815756
17  258.260303  294.022555  690.0  1242.282859
18  214.645362  294.022555  430.0   938.667917
19  303.143313  253.008578  490.0  1046.151892
20  303.143313  172.866485  490.0   966.009798
21  258.260303   96.065361  410.0   764.325664
22  172.466208  172.866485  550.0   895.332693
23  172.466208  253.008578  390.0   815.474786
24  349.165254  212.592458  490.0  1051.757712
25  542.840237  133.959533  350.0  1026.799770
26  303.143313  133.959533  510.0   947.102846
27  493.125549  294.022555  390.0  1177.148104
28  396.223298  253.008578  430.0  1079.231876
29  349.165254  253.008578  390.0   992.173832
30  396.223298   59.512056  570.0  1025.735355
31  396.223298  172.866485  470.0  1039.089783
32  593.326371  294.022555  490.0  1377.348926
33  214.645362   96.065361  590.0   900.710723
34  172.466208  253.008578  710.0  1135.474786
35  444.233423  294.022555  610.0  1348.255978
36  444.233423  253.008578  550.0  1247.242002
37  258.260303  294.022555  630.0  1182.282859
38  258.260303  253.008578  730.0  1241.268882
39  303.143313   96.065361  530.0   929.208674
40  303.143313  133.959533  370.0   807.102846
41  349.165254  212.592458  450.0  1011.757712
42  303.143313  133.959533  450.0   887.102846
43  444.233423  212.592458  530.0  1186.825881
44  303.143313  212.592458  270.0   785.735771
45  303.143313   96.065361  450.0   849.208674
46  214.645362  172.866485  410.0   797.511847
47  396.223298  294.022555  530.0  1220.245853
48  444.233423  172.866485  410.0  1027.099908
49  214.645362  212.592458  330.0   757.237820

In [18]:
t_now = 0
t_prev = 0

### Question no. 1

In [19]:
for j in range(J):
    if m_df[1][j] > 0 or m_df[2][j] > 0:
        schedule[j] += t_now
        if m_df[1][j] > 0:
            t_now += t_df["veg"][j]
        if m_df[2][j] > 0:
            t_now += t_df["fru"][j]
        if m_df[3][j] > 0:
            t_now += len_pass + t_df["oth"][j]
        c[j] = t_now
    else:
        t_now += t_df["oth"][j]
        c[j] = t_now
print(max(c))

52412.64336345344

In [21]:
max(c)/(60*60)

14.559067600959288

In [20]:
schedule

[0,
 1155.706722120519,
 2012.8095680084073,
 3238.9436951859925,
 4150.070483576745,
 5046.08028199053,
 6053.318101863156,
 7250.48397045592,
 8117.995817733414,
 9234.795587328035,
 9959.612863517032,
 10790.881745118497,
 11854.00653183526,
 12779.065197224749,
 13571.285033089604,
 14890.190630724113,
 16114.920733101217,
 17063.736488923332,
 18356.019347493064,
 19344.687264949538,
 20440.839156574035,
 21456.84895498782,
 22271.174618892564,
 23216.507311686924,
 24081.982097691995,
 25183.739809529787,
 26260.53957912441,
 27257.6424250123,
 28484.790529158152,
 29614.022405595846,
 30656.19623804922,
 31731.931592604506,
 32821.02137583149,
 34248.37030219753,
 35199.08102498901,
 36384.55581099408,
 37782.81178949037,
 39080.05379101839,
 40312.33664958813,
 41603.60553118959,
 42582.81420511736,
 43439.91705100525,
 44501.674762843046,
 45438.77760873093,
 46675.60348964337,
 47511.33926065228,
 48410.547934580056,
 49258.05978185755,
 50528.30563526351,
 51605.40554358082]

### Question no. 2

I think we need to fix this

In [16]:
def spt_algo():
    t_now = 0
    t_copy = t_df["Sum"].copy()
    schedule = [0 for i in range(J)]
    c = [0 for i in range(J)]
    for i in range(len(schedule)):
        index = t_copy.idxmin()
        schedule[index] += t_now
        t_now += t_copy[index]
        c[i] += t_now
        t_copy[index] = None
    return schedule, c
sche_spt,c_spt = spt_algo()
sche_spt

[31681.624815950367,
 5303.1170957190925,
 36244.70229504583,
 10245.527893118991,
 8550.309420777432,
 18378.65480146722,
 33922.80632407596,
 7732.797573499938,
 29535.593169918047,
 0,
 2938.600595831218,
 22305.833964044796,
 11106.654681509744,
 674.817276188995,
 45918.13286095661,
 35069.97219266872,
 13764.148885581479,
 43428.60800085886,
 16492.884038122855,
 27437.68356645576,
 19335.892621339844,
 2174.2749319264753,
 12868.81619278712,
 6917.322787494869,
 28483.835458080255,
 24344.69410531685,
 17431.55195557933,
 37420.83642222341,
 30602.39293951267,
 20301.90241975363,
 23318.95875076156,
 26398.593783228775,
 48535.29443708741,
 14662.964641403594,
 32787.33153807089,
 47187.03845859112,
 44670.8908594286,
 38597.98452636926,
 42187.3391192574,
 15563.675364195078,
 6110.219941606981,
 21294.076252207004,
 11981.713346899232,
 39780.267384939,
 3719.8694774326823,
 9396.319219191217,
 4505.605248441599,
 40967.093265851436,
 25371.49387491147,
 1417.0371120538503]

In [15]:
max(c_spt)

49912.64336345345

### Question no. 3

### Question no. 4

### Question no. 5

### Question no. 6