## Production Systems Analysis Project
Owners: Almog Asraf, Daniel Pidtylok, Nir Levanon, Shani Yorav

### Imports

In [1]:
import numpy as np
import pandas as pd

### Parameters

In [2]:
J = 50 # Numbers of the orders

In [3]:
lamb = [7.5, 5.2, 20] # Lambdas for the poission destribution
m = {1:[],2:[],3:[]}
for i in m.keys():
    for j in range(J):
        m[i].append(np.random.poisson(lamb[i-1]))
m_df = pd.DataFrame(m)
m_df

     1   2   3
0    8   8  20
1   11   6  22
2    9   7  20
3    9   7  21
4    8   1  17
5    6   6  18
6    4   3  19
7    4   4  22
8   10   3  18
9   10   4  23
10   1   5  16
11   5   6  19
12   9   5  26
13  11   3  21
14   7   8  14
15   3   4  17
16   9   5  19
17   6   2  35
18  13   3  24
19   9   5  22
20  11   8  24
21  12   3  12
22   1   2  21
23   7   6  21
24   4   3  19
25   7   5  23
26   7   4  26
27   6   1  19
28   6   5  18
29   6   3  30
30  11   7  19
31   4   6  21
32   8   5  23
33   6   3  17
34   3   5  22
35   9   6  21
36   9   4  18
37   7   9  18
38  11   7  18
39  10   3  19
40   5   7  22
41  10   7  15
42   4  12  24
43   4   7  19
44   4  10  19
45   7   3  18
46  12   6  27
47   2   4  11
48   6   6  13
49   8   6  22

In [4]:
v = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's velocity
for i in v.keys():
    for j in range(J):
        if i == "veg":
            v[i].append((25/(25+25*m[1][j]))**1.2)
        elif i == "fru":
            v[i].append((25/(25+30*m[2][j]))**1.1)
        else:
            v[i].append(25/(25+10*m[3][j]))
v_df = pd.DataFrame(v)
v_df

         veg       fru       oth
0   0.071599  0.074501  0.111111
1   0.050697  0.098811  0.102041
2   0.063096  0.085027  0.111111
3   0.063096  0.085027  0.106383
4   0.071599  0.420083  0.128205
5   0.096802  0.098811  0.121951
6   0.144956  0.186624  0.116279
7   0.144956  0.144620  0.102041
8   0.056277  0.186624  0.121951
9   0.056277  0.144620  0.098039
10  0.435275  0.117596  0.135135
11  0.116471  0.098811  0.116279
12  0.063096  0.117596  0.087719
13  0.050697  0.186624  0.106383
14  0.082469  0.074501  0.151515
15  0.189465  0.144620  0.128205
16  0.063096  0.117596  0.116279
17  0.096802  0.260239  0.066667
18  0.042135  0.186624  0.094340
19  0.063096  0.117596  0.102041
20  0.050697  0.074501  0.094340
21  0.046054  0.186624  0.172414
22  0.435275  0.260239  0.106383
23  0.082469  0.098811  0.106383
24  0.144956  0.186624  0.116279
25  0.082469  0.117596  0.098039
26  0.082469  0.144620  0.087719
27  0.096802  0.420083  0.116279
28  0.096802  0.117596  0.121951
29  0.096802  0.186624  0.076923
30  0.050697  0.085027  0.116279
31  0.144956  0.098811  0.106383
32  0.071599  0.117596  0.098039
33  0.096802  0.186624  0.128205
34  0.189465  0.117596  0.102041
35  0.063096  0.098811  0.106383
36  0.063096  0.144620  0.121951
37  0.082469  0.066211  0.121951
38  0.050697  0.085027  0.121951
39  0.056277  0.186624  0.116279
40  0.116471  0.085027  0.102041
41  0.056277  0.085027  0.142857
42  0.144956  0.049400  0.094340
43  0.144956  0.085027  0.116279
44  0.144956  0.059520  0.116279
45  0.082469  0.186624  0.121951
46  0.046054  0.098811  0.084746
47  0.267581  0.144620  0.185185
48  0.096802  0.098811  0.161290
49  0.071599  0.098811  0.102041

In [5]:
len_shelf = 25
len_pass = len_shelf*2
c = [0 for i in range(J)]
schedule = [0 for i in range(J)]

In [6]:
t = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's times
for i in t.keys():
    for j in range(J):
        if i == "veg" or i == "fru":
            t[i].append(len_shelf/v_df[i][j])
        else:
            t[i].append(len_pass/v_df[i][j])
t_df = pd.DataFrame(t)
t_df['Sum'] = t_df.sum(axis=1)
t_df

           veg         fru    oth          Sum
0   349.165254  335.564848  450.0  1134.730102
1   493.125549  253.008578  490.0  1236.134127
2   396.223298  294.022555  450.0  1140.245853
3   396.223298  294.022555  470.0  1160.245853
4   349.165254   59.512056  390.0   798.677311
5   258.260303  253.008578  410.0   921.268882
6   172.466208  133.959533  430.0   736.425740
7   172.466208  172.866485  490.0   835.332693
8   444.233423  133.959533  410.0   988.192956
9   444.233423  172.866485  510.0  1127.099908
10   57.434918  212.592458  370.0   640.027375
11  214.645362  253.008578  430.0   897.653940
12  396.223298  212.592458  570.0  1178.815756
13  493.125549  133.959533  470.0  1097.085081
14  303.143313  335.564848  330.0   968.708162
15  131.950791  172.866485  390.0   694.817276
16  396.223298  212.592458  430.0  1038.815756
17  258.260303   96.065361  750.0  1104.325664
18  593.326371  133.959533  530.0  1257.285904
19  396.223298  212.592458  490.0  1098.815756
20  493.125549  335.564848  530.0  1358.690397
21  542.840237  133.959533  290.0   966.799770
22   57.434918   96.065361  470.0   623.500278
23  303.143313  253.008578  470.0  1026.151892
24  172.466208  133.959533  430.0   736.425740
25  303.143313  212.592458  510.0  1025.735771
26  303.143313  172.866485  570.0  1046.009798
27  258.260303   59.512056  430.0   747.772360
28  258.260303  212.592458  410.0   880.852761
29  258.260303  133.959533  650.0  1042.219836
30  493.125549  294.022555  430.0  1217.148104
31  172.466208  253.008578  470.0   895.474786
32  349.165254  212.592458  510.0  1071.757712
33  258.260303  133.959533  390.0   782.219836
34  131.950791  212.592458  490.0   834.543249
35  396.223298  253.008578  470.0  1119.231876
36  396.223298  172.866485  410.0   979.089783
37  303.143313  377.581073  410.0  1090.724387
38  493.125549  294.022555  410.0  1197.148104
39  444.233423  133.959533  430.0  1008.192956
40  214.645362  294.022555  490.0   998.667917
41  444.233423  294.022555  350.0  1088.255978
42  172.466208  506.072574  530.0  1208.538781
43  172.466208  294.022555  430.0   896.488763
44  172.466208  420.027472  430.0  1022.493679
45  303.143313  133.959533  410.0   847.102846
46  542.840237  253.008578  590.0  1385.848815
47   93.429820  172.866485  270.0   536.296306
48  258.260303  253.008578  310.0   821.268882
49  349.165254  253.008578  490.0  1092.173832

In [7]:
t_now = 0
t_prev = 0

### Question no. 1

In [8]:
for j in range(J):
    if m_df[1][j] > 0 or m_df[2][j] > 0:
        schedule[j] += t_now
        t_prev = t_now
        if m_df[1][j] > 0:
            t_now += t_df["veg"][j]
        if m_df[2][j] > 0:
            t_now += t_df["fru"][j]
        if m_df[3][j] > 0:
            t_now += len_pass + t_df["oth"][j]
        t_df["Sum"][j] = t_now - t_prev
        c[j] = t_now
    else:
        t_now += t_df["oth"][j]
        c[j] = t_now
print(max(c))

52101.52929229314

In [9]:
max(c)/(60*60)

14.472647025636983

In [10]:
schedule

[0,
 1184.7301023771038,
 2470.8642295546892,
 3661.110082960653,
 4871.355936366616,
 5720.033246937581,
 6691.302128539045,
 7477.727868807506,
 8363.060561601862,
 9401.253517393268,
 10578.353425710573,
 11268.38080116726,
 12216.034741655467,
 13444.850497477582,
 14591.935578918557,
 15610.643740466785,
 16355.461016655781,
 17444.276772477897,
 18598.60243638264,
 19905.888340043803,
 21054.704095865916,
 22463.394492967233,
 23480.194262561854,
 24153.694540937402,
 25229.8464325619,
 26016.272172830362,
 27092.00794383928,
 28188.017742253065,
 28985.79010197212,
 29916.642862958004,
 31008.86269882286,
 32276.010802968714,
 33221.48558897378,
 34343.24330081158,
 35175.46313667644,
 36060.00638546056,
 37229.23826189826,
 38258.32804512524,
 39399.05243178309,
 40646.20053592895,
 41704.39349172036,
 42753.06140917683,
 43891.317387673116,
 45149.85616902654,
 46096.344931999876,
 47168.838611436295,
 48065.94145732418,
 49501.79027265542,
 50088.08657823829,
 50959.35545983976]

In [11]:
t_df

           veg         fru    oth          Sum
0   349.165254  335.564848  450.0  1184.730102
1   493.125549  253.008578  490.0  1286.134127
2   396.223298  294.022555  450.0  1190.245853
3   396.223298  294.022555  470.0  1210.245853
4   349.165254   59.512056  390.0   848.677311
5   258.260303  253.008578  410.0   971.268882
6   172.466208  133.959533  430.0   786.425740
7   172.466208  172.866485  490.0   885.332693
8   444.233423  133.959533  410.0  1038.192956
9   444.233423  172.866485  510.0  1177.099908
10   57.434918  212.592458  370.0   690.027375
11  214.645362  253.008578  430.0   947.653940
12  396.223298  212.592458  570.0  1228.815756
13  493.125549  133.959533  470.0  1147.085081
14  303.143313  335.564848  330.0  1018.708162
15  131.950791  172.866485  390.0   744.817276
16  396.223298  212.592458  430.0  1088.815756
17  258.260303   96.065361  750.0  1154.325664
18  593.326371  133.959533  530.0  1307.285904
19  396.223298  212.592458  490.0  1148.815756
20  493.125549  335.564848  530.0  1408.690397
21  542.840237  133.959533  290.0  1016.799770
22   57.434918   96.065361  470.0   673.500278
23  303.143313  253.008578  470.0  1076.151892
24  172.466208  133.959533  430.0   786.425740
25  303.143313  212.592458  510.0  1075.735771
26  303.143313  172.866485  570.0  1096.009798
27  258.260303   59.512056  430.0   797.772360
28  258.260303  212.592458  410.0   930.852761
29  258.260303  133.959533  650.0  1092.219836
30  493.125549  294.022555  430.0  1267.148104
31  172.466208  253.008578  470.0   945.474786
32  349.165254  212.592458  510.0  1121.757712
33  258.260303  133.959533  390.0   832.219836
34  131.950791  212.592458  490.0   884.543249
35  396.223298  253.008578  470.0  1169.231876
36  396.223298  172.866485  410.0  1029.089783
37  303.143313  377.581073  410.0  1140.724387
38  493.125549  294.022555  410.0  1247.148104
39  444.233423  133.959533  430.0  1058.192956
40  214.645362  294.022555  490.0  1048.667917
41  444.233423  294.022555  350.0  1138.255978
42  172.466208  506.072574  530.0  1258.538781
43  172.466208  294.022555  430.0   946.488763
44  172.466208  420.027472  430.0  1072.493679
45  303.143313  133.959533  410.0   897.102846
46  542.840237  253.008578  590.0  1435.848815
47   93.429820  172.866485  270.0   586.296306
48  258.260303  253.008578  310.0   871.268882
49  349.165254  253.008578  490.0  1142.173832

### Question no. 2

In [12]:
w = [0 for i in range(J)]

In [13]:
def spt_algo():
    t_now = 0
    t_prev = t_now
    t_copy = t_df["Sum"].copy()
    schedule = [0 for i in range(J)]
    c = [0 for i in range(J)]
    for i in range(len(schedule)):
        t_prev = t_now
        index = t_copy.idxmin()
        schedule[index] += t_now
        t_now += t_copy[index]
        c[i] += t_now
        w[i] += t_now-t_prev
        t_copy[index] = None
    return schedule, c, w
sche_spt,c_spt, w = spt_algo()
sche_spt

[38076.697494365566,
 46663.570049021844,
 39261.42759674267,
 40451.673450148635,
 5897.484911724946,
 14054.880141816238,
 2694.6412356041055,
 8501.974352681505,
 18090.746737787536,
 36899.59758604826,
 1259.7965839584213,
 13107.226201328032,
 41661.9193035546,
 32280.139208442728,
 16042.948793012325,
 1949.8239594151091,
 24460.181908896655,
 34576.04004570581,
 47949.70417619943,
 33427.2242898837,
 49256.990079860596,
 15026.149023417704,
 586.2963055828732,
 23384.030017272158,
 3481.066975872566,
 22308.29424626324,
 26641.21750058363,
 4267.49271614103,
 10284.409891363748,
 25548.997664718772,
 45396.42194487599,
 11215.262652349631,
 27737.227298997415,
 5065.265075860086,
 7617.431103897381,
 35730.36570961056,
 17061.656954560553,
 29997.240989331498,
 42890.73505937671,
 20177.60761103541,
 19128.93969357894,
 28858.98501083521,
 44137.883163522565,
 12160.737438354698,
 21235.800566826823,
 9387.307045475862,
 50665.68047696191,
 0,
 6746.16222229591,
 31137.965375989348]

In [14]:
w

[586.2963055828732,
 673.5002783755481,
 690.0273754566879,
 744.8172761889964,
 786.4257402684607,
 786.4257402684634,
 797.7723597190561,
 832.2198358648602,
 848.6773105709644,
 871.2688816014706,
 884.5432487841244,
 885.3326927943563,
 897.1028458878864,
 930.8527609858829,
 945.4747860050666,
 946.4887629733348,
 947.653940488206,
 971.2688816014652,
 1016.7997695946215,
 1018.7081615482275,
 1029.0897832269839,
 1038.1929557914045,
 1048.6679174564706,
 1058.1929557914118,
 1072.4936794364185,
 1075.7357710089163,
 1076.1518916244968,
 1088.8157558221174,
 1092.2198358648566,
 1096.0097984137865,
 1121.7577118377958,
 1138.2559784962868,
 1140.7243866578501,
 1142.1738324533799,
 1147.0850814409714,
 1148.8157558221137,
 1154.3256639047468,
 1169.2318764376978,
 1177.0999083173083,
 1184.730102377107,
 1190.2458534059624,
 1210.2458534059624,
 1228.8157558221137,
 1247.1481041458537,
 1258.5387813534253,
 1267.1481041458537,
 1286.134127177589,
 1307.2859036611626,
 1408.6903971013162,
 1435.8488153312355]

The proof that c isn't dependent on the scheduling of the order:

In [15]:
max(c_spt)

52101.52929229315

The average waiting time for order:

In [16]:
sum(w)/J

1042.030585845863

### Question no. 3

In [17]:
pass

### Question no. 4

In [18]:
pass

### Question no. 5

In [19]:
pass

### Question no. 6

In [20]:
pass