## Production Systems Analysis Project
Owners: Almog Asraf, Daniel Pidtylok, Nir Levanon, Shani Yorav

### Imports

In [1]:
import numpy as np
import pandas as pd

### Parameters

In [2]:
J = 50 # Numbers of the orders

Creating the amount of vegtables, fruits and others from poission destribution:

In [3]:
lamb = [7.5, 5.2, 20] # Lambdas for the poission destribution
m = {1:[],2:[],3:[]} # 1: veggies, 2: fruits, 3: other
for i in m.keys(): # For each type of order
    for j in range(J): # For each order
        m[i].append(np.random.poisson(lamb[i-1]))
m_df = pd.DataFrame(m) # More easy to work with pandas df
m_df

     1   2   3
0   11   5  18
1    4   8  22
2    6   5  25
3    3   8  23
4    9   6  19
5    3  10  21
6    3   3  21
7    4   3  11
8    6   5  17
9    4   6  23
10   4   6  19
11  14   9  18
12   7   7  22
13  10   2  18
14   5   5  23
15   5   4  26
16   8   4  14
17   4   7  16
18   9   4  22
19   9   6  23
20  12   2  14
21   9   2  16
22   6   1  12
23   7   8  28
24  10   2  24
25   7   9  26
26  10   7  16
27  11   4  18
28   8   6  15
29   6   3  23
30   8   6  17
31   7   3  23
32   1   7  15
33   3   4  20
34   3   6  12
35  13   6  20
36   9   5  24
37  10   2  22
38   4   2  14
39   7   9  25
40  10   6  27
41   7   7  26
42   9   5  21
43   6   4  16
44   6   7  15
45   9   4  20
46  12   7  15
47   8   6  15
48   6   5  20
49   7   7  20

Creating the velocity matrix for each order:

In [4]:
v = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's velocity
for i in v.keys(): # For each type of order
    for j in range(J): # For each order
        if i == "veg":
            v[i].append((25/(25+25*m[1][j]))**1.2)
        elif i == "fru":
            v[i].append((25/(25+30*m[2][j]))**1.1)
        else:
            v[i].append(25/(25+10*m[3][j]))
v_df = pd.DataFrame(v) # More easy to work with pandas
v_df

         veg       fru       oth
0   0.050697  0.117596  0.121951
1   0.144956  0.074501  0.102041
2   0.096802  0.117596  0.090909
3   0.189465  0.074501  0.098039
4   0.063096  0.098811  0.116279
5   0.189465  0.059520  0.106383
6   0.189465  0.186624  0.106383
7   0.144956  0.186624  0.185185
8   0.096802  0.117596  0.128205
9   0.144956  0.098811  0.098039
10  0.144956  0.098811  0.116279
11  0.038787  0.066211  0.121951
12  0.082469  0.085027  0.102041
13  0.056277  0.260239  0.121951
14  0.116471  0.117596  0.098039
15  0.116471  0.144620  0.087719
16  0.071599  0.144620  0.151515
17  0.144956  0.085027  0.135135
18  0.063096  0.144620  0.102041
19  0.063096  0.098811  0.098039
20  0.046054  0.260239  0.151515
21  0.063096  0.260239  0.135135
22  0.096802  0.420083  0.172414
23  0.082469  0.074501  0.081967
24  0.056277  0.260239  0.094340
25  0.082469  0.066211  0.087719
26  0.056277  0.085027  0.135135
27  0.050697  0.144620  0.121951
28  0.071599  0.098811  0.142857
29  0.096802  0.186624  0.098039
30  0.071599  0.098811  0.128205
31  0.082469  0.186624  0.098039
32  0.435275  0.085027  0.142857
33  0.189465  0.144620  0.111111
34  0.189465  0.098811  0.172414
35  0.042135  0.098811  0.111111
36  0.063096  0.117596  0.094340
37  0.056277  0.260239  0.102041
38  0.144956  0.260239  0.151515
39  0.082469  0.066211  0.090909
40  0.056277  0.098811  0.084746
41  0.082469  0.085027  0.087719
42  0.063096  0.117596  0.106383
43  0.096802  0.144620  0.135135
44  0.096802  0.085027  0.142857
45  0.063096  0.144620  0.111111
46  0.046054  0.085027  0.142857
47  0.071599  0.098811  0.142857
48  0.096802  0.117596  0.111111
49  0.082469  0.085027  0.111111

Definig the length of each shelf:

In [5]:
len_shelf = 25
len_pass = len_shelf*2

Definig the time metrix that takes to do each type of order, by using velpcity matrix:

In [6]:
t = {"veg":[],"fru":[], "oth":[]} # A dataframe of collector's times
for i in t.keys(): # For each type of order
    for j in range(J): # For each order
        if i == "veg" or i == "fru": # Because veggies and fruits are in the same passage
            t[i].append(len_shelf/v_df[i][j])
        else: # Because others are in different passege
            t[i].append(len_pass/v_df[i][j])
t_df = pd.DataFrame(t)
t_df['Sum'] = t_df.sum(axis=1) # We will use it later and we will fix it to the real amount of time that will take to do the order
t_df

           veg         fru    oth          Sum
0   493.125549  212.592458  410.0  1115.718007
1   172.466208  335.564848  490.0   998.031056
2   258.260303  212.592458  550.0  1020.852761
3   131.950791  335.564848  510.0   977.515639
4   396.223298  253.008578  430.0  1079.231876
5   131.950791  420.027472  470.0  1021.978263
6   131.950791  133.959533  470.0   735.910324
7   172.466208  133.959533  270.0   576.425740
8   258.260303  212.592458  390.0   860.852761
9   172.466208  253.008578  510.0   935.474786
10  172.466208  253.008578  430.0   855.474786
11  644.539473  377.581073  410.0  1432.120546
12  303.143313  294.022555  490.0  1087.165869
13  444.233423   96.065361  410.0   950.298784
14  214.645362  212.592458  510.0   937.237820
15  214.645362  172.866485  570.0   957.511847
16  349.165254  172.866485  330.0   852.031739
17  172.466208  294.022555  370.0   836.488763
18  396.223298  172.866485  490.0  1059.089783
19  396.223298  253.008578  510.0  1159.231876
20  542.840237   96.065361  330.0   968.905598
21  396.223298   96.065361  370.0   862.288659
22  258.260303   59.512056  290.0   607.772360
23  303.143313  335.564848  610.0  1248.708162
24  444.233423   96.065361  530.0  1070.298784
25  303.143313  377.581073  570.0  1250.724387
26  444.233423  294.022555  370.0  1108.255978
27  493.125549  172.866485  410.0  1075.992034
28  349.165254  253.008578  350.0   952.173832
29  258.260303  133.959533  510.0   902.219836
30  349.165254  253.008578  390.0   992.173832
31  303.143313  133.959533  510.0   947.102846
32   57.434918  294.022555  350.0   701.457473
33  131.950791  172.866485  450.0   754.817276
34  131.950791  253.008578  290.0   674.959369
35  593.326371  253.008578  450.0  1296.334949
36  396.223298  212.592458  530.0  1138.815756
37  444.233423   96.065361  490.0  1030.298784
38  172.466208   96.065361  330.0   598.531568
39  303.143313  377.581073  550.0  1230.724387
40  444.233423  253.008578  590.0  1287.242002
41  303.143313  294.022555  570.0  1167.165869
42  396.223298  212.592458  470.0  1078.815756
43  258.260303  172.866485  370.0   801.126788
44  258.260303  294.022555  350.0   902.282859
45  396.223298  172.866485  450.0  1019.089783
46  542.840237  294.022555  350.0  1186.862792
47  349.165254  253.008578  350.0   952.173832
48  258.260303  212.592458  450.0   920.852761
49  303.143313  294.022555  450.0  1047.165869

### Question no. 1

For more info, look at the docs:

In [7]:
def internal_arrangement(t_df): # This function recives a time matrix, and we will use it for q2
    c = [0 for i in range(J)] # Definig end time matrix
    schedule = [0 for i in range(J)] # Defining the schedule for each order
    # Defining clock of the simulation
    t_now = 0 
    t_prev = 0
    for j in range(J): # For each order
        if m_df[1][j] > 0 or m_df[2][j] > 0: # If there are fruits or veggies to collect
            schedule[j] += t_now # Schedule the order for now
            t_prev = t_now 
            if m_df[1][j] > 0: # If there are veggies, collect them
                t_now += t_df["veg"][j]
            if m_df[2][j] > 0: # if ther are fruits, collect them
                t_now += t_df["fru"][j]
            if m_df[3][j] > 0: # If there are others, return back and collect them
                t_now += len_pass + t_df["oth"][j]
            t_df["Sum"][j] = t_now - t_prev # Fixing the sum collumn
            c[j] = t_now # Defining the end time of the order after all the collections
        else: # There are only others to collect
            t_now += t_df["oth"][j]
            c[j] = t_now # Defining the end time of the order after all the collections
    return c, schedule
c,schedule = internal_arrangement(t_df)
max(c) # The answer to the question

51723.97720701548

Translating seconds to hours:

In [8]:
max(c)/(60*60)

14.367771446393188

The schedule of the orders:

In [9]:
schedule

[0,
 1165.7180065620046,
 2213.749062490804,
 3284.6018234766875,
 4312.1174628001245,
 5441.3493392378205,
 6513.32760206888,
 7299.237925731978,
 7925.663666000439,
 8836.516426986322,
 9821.991212991392,
 10727.465998996462,
 12209.586545197542,
 13346.752413790307,
 14347.051197621602,
 15334.289017494226,
 16341.80086477172,
 17243.83260401438,
 18130.32136698772,
 19239.411150214703,
 20448.643026652397,
 21467.54862428691,
 22379.837283027882,
 23037.60964274694,
 24336.317804295166,
 25456.61658812646,
 26757.340974784314,
 27915.596953280598,
 29041.588987247473,
 30043.762819700845,
 30995.982655565702,
 32038.156488019074,
 33035.259333906964,
 33786.7168069475,
 34591.534083136496,
 35316.493452536204,
 36662.82840193398,
 37851.64415775609,
 38931.94294158739,
 39580.474509895736,
 40861.198896553586,
 42198.44089808161,
 43415.60676667437,
 44544.42252249648,
 45395.54931088723,
 46347.83216945697,
 47416.92195268395,
 48653.78474498345,
 49655.95857743683,
 50626.81133842272]

The fixed time matrix:

In [10]:
t_df

           veg         fru    oth          Sum
0   493.125549  212.592458  410.0  1165.718007
1   172.466208  335.564848  490.0  1048.031056
2   258.260303  212.592458  550.0  1070.852761
3   131.950791  335.564848  510.0  1027.515639
4   396.223298  253.008578  430.0  1129.231876
5   131.950791  420.027472  470.0  1071.978263
6   131.950791  133.959533  470.0   785.910324
7   172.466208  133.959533  270.0   626.425740
8   258.260303  212.592458  390.0   910.852761
9   172.466208  253.008578  510.0   985.474786
10  172.466208  253.008578  430.0   905.474786
11  644.539473  377.581073  410.0  1482.120546
12  303.143313  294.022555  490.0  1137.165869
13  444.233423   96.065361  410.0  1000.298784
14  214.645362  212.592458  510.0   987.237820
15  214.645362  172.866485  570.0  1007.511847
16  349.165254  172.866485  330.0   902.031739
17  172.466208  294.022555  370.0   886.488763
18  396.223298  172.866485  490.0  1109.089783
19  396.223298  253.008578  510.0  1209.231876
20  542.840237   96.065361  330.0  1018.905598
21  396.223298   96.065361  370.0   912.288659
22  258.260303   59.512056  290.0   657.772360
23  303.143313  335.564848  610.0  1298.708162
24  444.233423   96.065361  530.0  1120.298784
25  303.143313  377.581073  570.0  1300.724387
26  444.233423  294.022555  370.0  1158.255978
27  493.125549  172.866485  410.0  1125.992034
28  349.165254  253.008578  350.0  1002.173832
29  258.260303  133.959533  510.0   952.219836
30  349.165254  253.008578  390.0  1042.173832
31  303.143313  133.959533  510.0   997.102846
32   57.434918  294.022555  350.0   751.457473
33  131.950791  172.866485  450.0   804.817276
34  131.950791  253.008578  290.0   724.959369
35  593.326371  253.008578  450.0  1346.334949
36  396.223298  212.592458  530.0  1188.815756
37  444.233423   96.065361  490.0  1080.298784
38  172.466208   96.065361  330.0   648.531568
39  303.143313  377.581073  550.0  1280.724387
40  444.233423  253.008578  590.0  1337.242002
41  303.143313  294.022555  570.0  1217.165869
42  396.223298  212.592458  470.0  1128.815756
43  258.260303  172.866485  370.0   851.126788
44  258.260303  294.022555  350.0   952.282859
45  396.223298  172.866485  450.0  1069.089783
46  542.840237  294.022555  350.0  1236.862792
47  349.165254  253.008578  350.0  1002.173832
48  258.260303  212.592458  450.0   970.852761
49  303.143313  294.022555  450.0  1097.165869

### Question no. 2

For more info, look at the docs:

Definig the waiting time of all the orders:

In [11]:
w = [0 for i in range(J)]

Defining the spt algoritem function, we will use it also at question no. 2:

In [12]:
def spt_algo(t_df):
    t_now = 0
    #t_prev = t_now
    t_copy = t_df["Sum"].copy() # Creating a copy of the fixed sum column, because we don't want to lose this info
    schedule = [0 for i in range(J)] # Defining the schedule for each order
    c = [0 for i in range(J)] # Definig end time matrix, only for proving a point
    for i in range(J): # For each order
        #t_prev = t_now
        index = t_copy.idxmin() # Pull the id of the minimal processing time
        schedule[index] += t_now # Scheduling the shortest order for current time
        t_now += t_copy[index] # Moving the sim clock to the end of the order
        c[i] = t_now # Definig the end time of the order
        w[i] = c[i] - t_df["Sum"][index] # Calculating the waiting time: end time - processing time
        print("c[i]: ",c[i])
        print("t_df['Sum'][index]: ", t_df["Sum"][index])
        t_copy[index] = None # "Deleting" the minimal processing time, so we can find the next minimal time
    return schedule, c, w
sche_spt,c_spt, w = spt_algo(t_df)
sche_spt

c[i]:  626.4257402684607
t_df['Sum'][index]:  626.4257402684607
c[i]:  1274.957308576807
t_df['Sum'][index]:  648.5315683083463
c[i]:  1932.7296682958631
t_df['Sum'][index]:  657.7723597190561
c[i]:  2657.6890376955716
t_df['Sum'][index]:  724.9593693997085
c[i]:  3409.146510736108
t_df['Sum'][index]:  751.4574730405366
c[i]:  4195.056834399206
t_df['Sum'][index]:  785.9103236630981
c[i]:  4999.874110588201
t_df['Sum'][index]:  804.8172761889946
c[i]:  5851.00089897895
t_df['Sum'][index]:  851.1267883907494
c[i]:  6737.489661952289
t_df['Sum'][index]:  886.4887629733385
c[i]:  7639.521401194949
t_df['Sum'][index]:  902.0317392426605
c[i]:  8544.99618720002
t_df['Sum'][index]:  905.4747860050702
c[i]:  9455.848948185903
t_df['Sum'][index]:  910.8527609858829
c[i]:  10368.137606926877
t_df['Sum'][index]:  912.2886587409739
c[i]:  11320.357442791734
t_df['Sum'][index]:  952.2198358648566
c[i]:  12272.640301361469
t_df['Sum'][index]:  952.2828585697353
c[i]:  13243.493062347356
t_df['Sum'][index]:  970.8527609858866
c[i]:  14228.967848352426
t_df['Sum'][index]:  985.4747860050702
c[i]:  15216.20566822505
t_df['Sum'][index]:  987.2378198726237
c[i]:  16213.30851411294
t_df['Sum'][index]:  997.10284588789
c[i]:  17213.607297944232
t_df['Sum'][index]:  1000.2987838312947
c[i]:  18215.781130397605
t_df['Sum'][index]:  1002.1738324533726
c[i]:  19217.954962850985
t_df['Sum'][index]:  1002.1738324533799
c[i]:  20225.466810128477
t_df['Sum'][index]:  1007.5118472774939
c[i]:  21244.37240776299
t_df['Sum'][index]:  1018.9055976345117
c[i]:  22271.888047086424
t_df['Sum'][index]:  1027.515639323437
c[i]:  23314.061879539797
t_df['Sum'][index]:  1042.1738324533726
c[i]:  24362.092935468598
t_df['Sum'][index]:  1048.0310559287996
c[i]:  25431.18271869558
t_df['Sum'][index]:  1069.0897832269839
c[i]:  26502.035479681464
t_df['Sum'][index]:  1070.8527609858834
c[i]:  27574.013742512525
t_df['Sum'][index]:  1071.9782628310595
c[i]:  28654.312526343823
t_df['Sum'][index]:  1080.2987838312984
c[i]:  29751.478394936585
t_df['Sum'][index]:  1097.1658685927614
c[i]:  30860.56817816357
t_df['Sum'][index]:  1109.0897832269839
c[i]:  31980.866961994863
t_df['Sum'][index]:  1120.2987838312947
c[i]:  33106.85899596174
t_df['Sum'][index]:  1125.9920339668752
c[i]:  34235.67475178385
t_df['Sum'][index]:  1128.8157558221137
c[i]:  35364.90662822155
t_df['Sum'][index]:  1129.231876437696
c[i]:  36502.07249681432
t_df['Sum'][index]:  1137.165868592765
c[i]:  37660.3284753106
t_df['Sum'][index]:  1158.2559784962832
c[i]:  38826.0464818726
t_df['Sum'][index]:  1165.7180065620046
c[i]:  40014.86223769472
t_df['Sum'][index]:  1188.8157558221137
c[i]:  41224.094114132415
t_df['Sum'][index]:  1209.2318764376942
c[i]:  42441.259982725176
t_df['Sum'][index]:  1217.1658685927614
c[i]:  43678.122775024676
t_df['Sum'][index]:  1236.8627922995001
c[i]:  44958.847161682526
t_df['Sum'][index]:  1280.7243866578501
c[i]:  46257.55532323076
t_df['Sum'][index]:  1298.7081615482275
c[i]:  47558.27970988861
t_df['Sum'][index]:  1300.7243866578538
c[i]:  48895.52171141663
t_df['Sum'][index]:  1337.2420015280222
c[i]:  50241.8566608144
t_df['Sum'][index]:  1346.334949397773
c[i]:  51723.97720701549
t_df['Sum'][index]:  1482.1205462010803

[37660.3284753106,
 23314.061879539797,
 25431.18271869558,
 21244.37240776299,
 34235.67475178385,
 26502.035479681464,
 3409.146510736108,
 0,
 8544.99618720002,
 13243.493062347356,
 7639.521401194949,
 50241.8566608144,
 35364.90662822155,
 16213.30851411294,
 14228.967848352426,
 19217.954962850985,
 6737.489661952289,
 5851.00089897895,
 29751.478394936585,
 40014.86223769472,
 20225.466810128477,
 9455.848948185903,
 1274.957308576807,
 44958.847161682526,
 30860.56817816357,
 46257.55532323076,
 36502.07249681432,
 31980.866961994863,
 17213.607297944232,
 10368.137606926877,
 22271.888047086424,
 15216.20566822505,
 2657.6890376955716,
 4195.056834399206,
 1932.7296682958631,
 48895.52171141663,
 38826.0464818726,
 27574.013742512525,
 626.4257402684607,
 43678.122775024676,
 47558.27970988861,
 41224.094114132415,
 33106.85899596174,
 4999.874110588201,
 11320.357442791734,
 24362.092935468598,
 42441.259982725176,
 18215.781130397605,
 12272.640301361469,
 28654.312526343823]

Note: We will use sche_spt in question 3.

The waiting time matrix:

In [13]:
w

[0.0,
 626.4257402684607,
 1274.957308576807,
 1932.7296682958631,
 2657.6890376955716,
 3409.146510736108,
 4195.056834399206,
 4999.874110588201,
 5851.00089897895,
 6737.489661952289,
 7639.52140119495,
 8544.99618720002,
 9455.848948185903,
 10368.137606926877,
 11320.357442791734,
 12272.640301361469,
 13243.493062347356,
 14228.967848352426,
 15216.20566822505,
 16213.308514112938,
 17213.607297944232,
 18215.781130397605,
 19217.954962850985,
 20225.466810128477,
 21244.37240776299,
 22271.888047086424,
 23314.061879539797,
 24362.092935468598,
 25431.18271869558,
 26502.035479681464,
 27574.013742512525,
 28654.312526343823,
 29751.478394936585,
 30860.56817816357,
 31980.866961994863,
 33106.85899596174,
 34235.67475178385,
 35364.90662822155,
 36502.07249681432,
 37660.3284753106,
 38826.0464818726,
 40014.86223769472,
 41224.094114132415,
 42441.259982725176,
 43678.122775024676,
 44958.847161682526,
 46257.55532323076,
 47558.27970988861,
 48895.52171141663,
 50241.8566608144]

The proof that c isn't dependent on the scheduling of the order:

In [14]:
max(c_spt)

51723.97720701549

The average waiting time for order:

In [15]:
sum(w)/J

22759.476354645445

### Question no. 3

First, we will calculate v and t for the new collector:

In [16]:
v2_df = v_df.copy()
v2_df = v2_df*1.15
v2_df

         veg       fru       oth
0   0.058302  0.135235  0.140244
1   0.166699  0.085676  0.117347
2   0.111322  0.135235  0.104545
3   0.217884  0.085676  0.112745
4   0.072560  0.113633  0.133721
5   0.217884  0.068448  0.122340
6   0.217884  0.214617  0.122340
7   0.166699  0.214617  0.212963
8   0.111322  0.135235  0.147436
9   0.166699  0.113633  0.112745
10  0.166699  0.113633  0.133721
11  0.044605  0.076143  0.140244
12  0.094840  0.097782  0.117347
13  0.064718  0.299275  0.140244
14  0.133942  0.135235  0.112745
15  0.133942  0.166313  0.100877
16  0.082339  0.166313  0.174242
17  0.166699  0.097782  0.155405
18  0.072560  0.166313  0.117347
19  0.072560  0.113633  0.112745
20  0.052962  0.299275  0.174242
21  0.072560  0.299275  0.155405
22  0.111322  0.483095  0.198276
23  0.094840  0.085676  0.094262
24  0.064718  0.299275  0.108491
25  0.094840  0.076143  0.100877
26  0.064718  0.097782  0.155405
27  0.058302  0.166313  0.140244
28  0.082339  0.113633  0.164286
29  0.111322  0.214617  0.112745
30  0.082339  0.113633  0.147436
31  0.094840  0.214617  0.112745
32  0.500567  0.097782  0.164286
33  0.217884  0.166313  0.127778
34  0.217884  0.113633  0.198276
35  0.048456  0.113633  0.127778
36  0.072560  0.135235  0.108491
37  0.064718  0.299275  0.117347
38  0.166699  0.299275  0.174242
39  0.094840  0.076143  0.104545
40  0.064718  0.113633  0.097458
41  0.094840  0.097782  0.100877
42  0.072560  0.135235  0.122340
43  0.111322  0.166313  0.155405
44  0.111322  0.097782  0.164286
45  0.072560  0.166313  0.127778
46  0.052962  0.097782  0.164286
47  0.082339  0.113633  0.164286
48  0.111322  0.135235  0.127778
49  0.094840  0.097782  0.127778

In [17]:
t2 = {"veg":[],"fru":[], "oth":[]}
for i in t2.keys():
    for j in range(J):
        if i == "veg" or i == "fru":
            t2[i].append(len_shelf/v2_df[i][j])
        else:
            t2[i].append(len_pass/v2_df[i][j])
t2_df = pd.DataFrame(t2)
t2_df['Sum'] = t2_df.sum(axis=1)
t2_df

           veg         fru         oth          Sum
0   428.804825  184.863007  356.521739   970.189571
1   149.970615  291.795520  426.086957   867.853092
2   224.574177  184.863007  478.260870   887.698053
3   114.739818  291.795520  443.478261   850.013599
4   344.541998  220.007459  373.913043   938.462501
5   114.739818  365.241280  408.695652   888.676750
6   114.739818  116.486550  408.695652   639.922021
7   149.970615  116.486550  234.782609   501.239774
8   224.574177  184.863007  339.130435   748.567618
9   149.970615  220.007459  443.478261   813.456336
10  149.970615  220.007459  373.913043   743.891118
11  560.469107  328.331368  356.521739  1245.322214
12  263.602881  255.671787  426.086957   945.361625
13  386.289933   83.535096  356.521739   826.346769
14  186.648141  184.863007  443.478261   814.989409
15  186.648141  150.318683  495.652174   832.618998
16  303.621960  150.318683  286.956522   740.897165
17  149.970615  255.671787  321.739130   727.381533
18  344.541998  150.318683  426.086957   920.947638
19  344.541998  220.007459  443.478261  1008.027719
20  472.034989   83.535096  286.956522   842.526607
21  344.541998   83.535096  321.739130   749.816225
22  224.574177   51.749614  252.173913   528.497704
23  263.602881  291.795520  530.434783  1085.833184
24  386.289933   83.535096  460.869565   930.694595
25  263.602881  328.331368  495.652174  1087.586423
26  386.289933  255.671787  321.739130   963.700851
27  428.804825  150.318683  356.521739   935.645247
28  303.621960  220.007459  304.347826   827.977246
29  224.574177  116.486550  443.478261   784.538988
30  303.621960  220.007459  339.130435   862.759854
31  263.602881  116.486550  443.478261   823.567692
32   49.943407  255.671787  304.347826   609.963020
33  114.739818  150.318683  391.304348   656.362849
34  114.739818  220.007459  252.173913   586.921191
35  515.935975  220.007459  391.304348  1127.247782
36  344.541998  184.863007  460.869565   990.274570
37  386.289933   83.535096  426.086957   895.911986
38  149.970615   83.535096  286.956522   520.462233
39  263.602881  328.331368  478.260870  1070.195119
40  386.289933  220.007459  513.043478  1119.340871
41  263.602881  255.671787  495.652174  1014.926842
42  344.541998  184.863007  408.695652   938.100657
43  224.574177  150.318683  321.739130   696.631990
44  224.574177  255.671787  304.347826   784.593790
45  344.541998  150.318683  391.304348   886.165029
46  472.034989  255.671787  304.347826  1032.054602
47  303.621960  220.007459  304.347826   827.977246
48  224.574177  184.863007  391.304348   800.741531
49  263.602881  255.671787  391.304348   910.579016

In [18]:
internal_arrangement(t2_df)
spt_algo(t2_df)
t2_df

c[i]:  551.2397741464874
t_df['Sum'][index]:  551.2397741464874
c[i]:  1121.702007458086
t_df['Sum'][index]:  570.4622333115985
c[i]:  1700.1997115616132
t_df['Sum'][index]:  578.4977041035272
c[i]:  2337.1209023439687
t_df['Sum'][index]:  636.9211907823556
c[i]:  2997.08392237922
t_df['Sum'][index]:  659.9630200352512
c[i]:  3687.005942955827
t_df['Sum'][index]:  689.9220205766069
c[i]:  4393.368791815824
t_df['Sum'][index]:  706.362848859997
c[i]:  5140.000781720823
t_df['Sum'][index]:  746.6319899049995
c[i]:  5917.382314741116
t_df['Sum'][index]:  777.3815330202924
c[i]:  6708.279479299951
t_df['Sum'][index]:  790.8971645588354
c[i]:  7502.170597565227
t_df['Sum'][index]:  793.8911182652755
c[i]:  8300.73821581382
t_df['Sum'][index]:  798.567618248595
c[i]:  9100.554440805972
t_df['Sum'][index]:  799.8162249921515
c[i]:  9935.093428514541
t_df['Sum'][index]:  834.538987708569
c[i]:  10769.687218575178
t_df['Sum'][index]:  834.5937900606368
c[i]:  11620.42874986725
t_df['Sum'][index]:  850.7415312920712
c[i]:  12483.885085523832
t_df['Sum'][index]:  863.4563356565832
c[i]:  13348.874494108724
t_df['Sum'][index]:  864.9894085848919
c[i]:  14222.442186185148
t_df['Sum'][index]:  873.5676920764236
c[i]:  15098.7889547341
t_df['Sum'][index]:  876.3467685489522
c[i]:  15976.76620034573
t_df['Sum'][index]:  877.9772456116298
c[i]:  16854.743445957363
t_df['Sum'][index]:  877.9772456116334
c[i]:  17737.36244358997
t_df['Sum'][index]:  882.6189976326041
c[i]:  18629.889050228674
t_df['Sum'][index]:  892.5266066387048
c[i]:  19529.90264964036
t_df['Sum'][index]:  900.0135994116849
c[i]:  20442.662503947642
t_df['Sum'][index]:  912.7598543072818
c[i]:  21360.515596059642
t_df['Sum'][index]:  917.8530921119998
c[i]:  22296.680624952674
t_df['Sum'][index]:  936.1650288930323
c[i]:  23234.378677983877
t_df['Sum'][index]:  937.6980530312028
c[i]:  24173.055428271757
t_df['Sum'][index]:  938.6767502878774
c[i]:  25118.967414212006
t_df['Sum'][index]:  945.911985940249
c[i]:  26079.546430379633
t_df['Sum'][index]:  960.5790161676268
c[i]:  27050.494067968313
t_df['Sum'][index]:  970.9476375886825
c[i]:  28031.18866260422
t_df['Sum'][index]:  980.6945946359083
c[i]:  29016.83390953194
t_df['Sum'][index]:  985.6452469277174
c[i]:  30004.934566768563
t_df['Sum'][index]:  988.1006572366241
c[i]:  30993.397068018734
t_df['Sum'][index]:  988.462501250171
c[i]:  31988.75869288201
t_df['Sum'][index]:  995.3616248632752
c[i]:  33002.459543748344
t_df['Sum'][index]:  1013.7008508663348
c[i]:  34022.649114671825
t_df['Sum'][index]:  1020.1895709234823
c[i]:  35062.92368495192
t_df['Sum'][index]:  1040.2745702801003
c[i]:  36120.9514035934
t_df['Sum'][index]:  1058.0277186414714
c[i]:  37185.878245847976
t_df['Sum'][index]:  1064.9268422545792
c[i]:  38267.93284784754
t_df['Sum'][index]:  1082.0546019995672
c[i]:  39388.12796668046
t_df['Sum'][index]:  1120.1951188329185
c[i]:  40523.96115063544
t_df['Sum'][index]:  1135.8331839549792
c[i]:  41661.547573816184
t_df['Sum'][index]:  1137.5864231807427
c[i]:  42830.888444710115
t_df['Sum'][index]:  1169.3408708939314
c[i]:  44008.13622679513
t_df['Sum'][index]:  1177.2477820850181
c[i]:  45303.45844088303
t_df['Sum'][index]:  1295.3222140878952

           veg         fru         oth          Sum
0   428.804825  184.863007  356.521739  1020.189571
1   149.970615  291.795520  426.086957   917.853092
2   224.574177  184.863007  478.260870   937.698053
3   114.739818  291.795520  443.478261   900.013599
4   344.541998  220.007459  373.913043   988.462501
5   114.739818  365.241280  408.695652   938.676750
6   114.739818  116.486550  408.695652   689.922021
7   149.970615  116.486550  234.782609   551.239774
8   224.574177  184.863007  339.130435   798.567618
9   149.970615  220.007459  443.478261   863.456336
10  149.970615  220.007459  373.913043   793.891118
11  560.469107  328.331368  356.521739  1295.322214
12  263.602881  255.671787  426.086957   995.361625
13  386.289933   83.535096  356.521739   876.346769
14  186.648141  184.863007  443.478261   864.989409
15  186.648141  150.318683  495.652174   882.618998
16  303.621960  150.318683  286.956522   790.897165
17  149.970615  255.671787  321.739130   777.381533
18  344.541998  150.318683  426.086957   970.947638
19  344.541998  220.007459  443.478261  1058.027719
20  472.034989   83.535096  286.956522   892.526607
21  344.541998   83.535096  321.739130   799.816225
22  224.574177   51.749614  252.173913   578.497704
23  263.602881  291.795520  530.434783  1135.833184
24  386.289933   83.535096  460.869565   980.694595
25  263.602881  328.331368  495.652174  1137.586423
26  386.289933  255.671787  321.739130  1013.700851
27  428.804825  150.318683  356.521739   985.645247
28  303.621960  220.007459  304.347826   877.977246
29  224.574177  116.486550  443.478261   834.538988
30  303.621960  220.007459  339.130435   912.759854
31  263.602881  116.486550  443.478261   873.567692
32   49.943407  255.671787  304.347826   659.963020
33  114.739818  150.318683  391.304348   706.362849
34  114.739818  220.007459  252.173913   636.921191
35  515.935975  220.007459  391.304348  1177.247782
36  344.541998  184.863007  460.869565  1040.274570
37  386.289933   83.535096  426.086957   945.911986
38  149.970615   83.535096  286.956522   570.462233
39  263.602881  328.331368  478.260870  1120.195119
40  386.289933  220.007459  513.043478  1169.340871
41  263.602881  255.671787  495.652174  1064.926842
42  344.541998  184.863007  408.695652   988.100657
43  224.574177  150.318683  321.739130   746.631990
44  224.574177  255.671787  304.347826   834.593790
45  344.541998  150.318683  391.304348   936.165029
46  472.034989  255.671787  304.347826  1082.054602
47  303.621960  220.007459  304.347826   877.977246
48  224.574177  184.863007  391.304348   850.741531
49  263.602881  255.671787  391.304348   960.579016

prep for Q//c_max - for more info go to doc:

calc the ratio of the task index (K) to the working rate of the gatherer (s_j: s1 = 1, s2 = 1.15): K/s_j

In [19]:
K_S1 = [i for i in range(1, J+1)]

K_S2 = [0 for i in range(1, J+1)]
for i in range(1, 51):
    K_S2[i-1] = i/1.15

As we do in Q//sigma(C_i): take the task with the longest time and match it to the min ratio of both gatherers.
The heuristics will be to place the tasks from the beginning and not the end (as we do in P//c_max). 

* Note the longest task will be the same for the both gatherers since the ratio is permanent

In [20]:
#initializing schedules: 1 for the regular, 2 for the faster one
sch_1 = []
sch_2 = []

#initializing time counters
time_1 = 0
time_2 = 0

# for Q4 - initializing dictionaries for waiting time to each task in specific gather. 
waiting_time_1 = {}
waiting_time_2 = {}

#copy for processing times
t_df_copy = t_df.copy()


for i in range(J):
    #print('----------------------------------------------------')
    #print(i)
    task_idx = t_df_copy['Sum'].idxmax() # task index with max time
    task_time_1 = t_df_copy['Sum'][task_idx] # time processing for the regular
    task_time_2 = t2_df['Sum'][task_idx] ## time processing for the fast gather
    #print('task_time_1 ', task_time_1)
    #print('task_time_2 ', task_time_2)
    
    t_df_copy['Sum'][task_idx] = None # for not using it again
    
    # taking min ratio
    min_K_S1 = min(K_S1)
    min_K_S2 = min(K_S2)
    
    min_tot = 0
    
    #case the min ratio is for the regular gather
    if min_K_S1 < min_K_S2:
        waiting_time_1[task_idx] = time_1 # waiting time until now, not including the process time for this task
        min_tot = min_K_S1
        idx = K_S1.index(min_tot)
        K_S1.pop(idx)
            
        sch_1.append(task_idx) # add the task to regular gather schedule
            
        time_1 += task_time_1 # update time
        #print('m is: 1')
    
    #case the min ratio is for the fast gather    
    else:
        waiting_time_2[task_idx] = time_2 # waiting time until now, not including the process time for this task
        min_tot = min_K_S2
        idx = K_S2.index(min_tot)
        K_S2.pop(idx)
            
        sch_2.append(task_idx) # add the task to faster gather schedule
            
        time_2 += task_time_2 # update time
        #print('m is: 2')
        
    #print('time_1 ', time_1)
    #print('time_2 ', time_2)
    #print('sch_1 is: ', sch_1)
    #print('sch_2 is: ', sch_2)
    #print('----------------------------------------------------')

time_finish = max(time_2, time_1) # C_MAX

print('time_finish: ',time_finish)
print('sch for regular gather: ', sch_1)
print('sch for fast gather: ', sch_2)

time_finish:  24452.78450397802
sch for regular gather:  [35, 25, 39, 41, 36, 26, 42, 24, 49, 5, 45, 30, 20, 28, 31, 9, 44, 21, 10, 43, 6, 34, 38]
sch for fast gather:  [11, 40, 23, 46, 19, 0, 12, 4, 27, 18, 37, 2, 1, 3, 15, 47, 13, 14, 48, 29, 8, 16, 17, 33, 32, 22, 7]

In [21]:
#print('waiting_time for 1: ', waiting_time_1.items())
total_wt_1 = sum(list(waiting_time_1.values()))
avg_wt_1 = total_wt_1/len(list(waiting_time_1.values()))
print('total_wt_regular: ', total_wt_1)
print('avg_wt_regular: ', avg_wt_1)

print('-----------------------------------------------------')

#print('waiting_time for 2: ', waiting_time_2.items())
total_wt_2 = sum(list(waiting_time_2.values()))
avg_wt_2 = total_wt_2/len(list(waiting_time_2.values()))
print('total_wt_fast: ', total_wt_2)
print('avg_wt_fast: ',avg_wt_2)

print('-----------------------------------------------------')

total_wt_both = total_wt_1 + total_wt_2
avg_wt__both = total_wt_both/J
print('total_wt_both: ', total_wt_both)
print('avg_wt__both: ',avg_wt__both)

total_wt_regular:  288049.7851742626
avg_wt_regular:  12523.903703228809
-----------------------------------------------------
total_wt_fast:  351763.854511696
avg_wt_fast:  13028.290907840592
-----------------------------------------------------
total_wt_both:  639813.6396859586
avg_wt__both:  12796.272793719172

In [22]:
#sch_1 = []
#sch_2 = []
#time_1 = 0
#time_2 = 0
#time_finish = 0
#time_available = 0
#t_df_copy = t_df.copy()

#for i in range(J):
#    print(i)
#    print('----------------------------------------------------')
#    task_idx = t_df_copy['Sum'].idxmax() # task index with max time
#    task_time_1 = t_df_copy['Sum'][task_idx]
#    task_time_2 = t2_df['Sum'][task_idx]
#    print('task_time_1 ', task_time_1)
#    print('task_time_2 ', task_time_2)
    
#    t_df_copy['Sum'][task_idx] = None # for not using it again
    
    # taking min ratio
#    min_K_S1 = min(K_S1)
#    min_K_S2 = min(K_S2)
    
#    min_tot = 0
    
    #if time_1 == time_2:
        #print('im in time_1 == time_2')
#    if min_K_S1 < min_K_S2:
#        min_tot = min_K_S1
#        idx = K_S1.index(min_tot)
#        K_S1.pop(idx)
            
#        sch_1.append(task_idx)
            
#        time_1 += task_time_1
        
#    else:
#        min_tot = min_K_S2
#        idx = K_S2.index(min_tot)
#        K_S2.pop(idx)
            
#        sch_2.append(task_idx)
            
#        time_2 += task_time_2
        
    
    #elif time_1 == time_available:
        #print('im in time_1 == time_available')
        #min_tot = min_K_S1
        #idx = K_S1.index(min_tot)
        #K_S1.pop(idx)
            
        #sch_1.append(task_idx)
            
        #time_1 += task_time_1
        
    #else:
        #print('im in time_2 == time_available')
        #min_tot = min_K_S2
        #idx = K_S2.index(min_tot)
        #K_S2.pop(idx)
            
        #sch_2.append(task_idx)
        
        #time_2 += task_time_2
    
    #print('time_1: ',time_1)
    #print('time_2: ',time_2)
    
    #print('time_finish before: ', time_finish)
    #time_finish += max(time_1, time_2)
    #print('time_finish after: ', time_finish)
    
    #print('time_available before: ', time_available)
    #time_available += min(time_1, time_2)
    #print('time_available after: ', time_available)
#    print('time_1 ', time_1)
#    print('time_2 ', time_2)
#    print('sch_1 is: ', sch_1)
#    print('sch_2 is: ', sch_2)
#    print('----------------------------------------------------')

#time_finish = max(time_2, time_1)
#print('time_finish: ',time_finish)
#print('sch_1 is: ', sch_1)
#print('sch_2 is: ', sch_2)
#print('time_finish is: ', time_finish)

### Question no. 4

In [23]:
pass

### Question no. 5

In [24]:
pass

### Question no. 6

In [25]:
pass